AddDefaultCharset UTF-8
ErrorDocument 500 /500.html
ErrorDocument 404 /

<ifDefine Free>
	  PHP 1
	  Options +Multiviews
	  ErrorDocument 404 /index
	  SetEnv STRASS_ROUTE_PREFIX index/
</ifDefine>

<ifDefine !Free>
	  AcceptPathInfo On
	  RewriteEngine On
	  RewriteBase /
	  RewriteCond %{REQUEST_FILENAME} !-f
	  RewriteCond %{REQUEST_FILENAME} !-d
	  RewriteRule (.*) index.php [QSA,L,E=PATH_INFO:/$1]
</ifDefine>
