+++ Confidentialité

Un visiteur reste totalement anonyme lors de sa visite sur ce site. L'hébergeur stocke quelques données pour statistiques : pays d'origine, navigateur, etc. Ces données sont totalement  anonymes.

+++ Logiciel

Le logiciel qui gère ce site web est publié sous licence [http://www.fsf.org/licensing/licenses/agpl-3.0.html GNU Affero General Public License 3] ou supérieure vous garantissant la transparence quant à ce qui est fait des données stockées, ainsi que la possiblité d'utiliser ou d'améliorer le logiciel pour votre site avec la seule condition que le logiciel reste distribué sous les mêmes termes. Demander à [mailto:bersace03@gmail.com Étienne BERSAC] les sources.

Les logiciels [http://www.gimp.org/ Gimp] et [http://www.inkscape.org/ Inkscape] ont été utilisés pour réaliser les graphismes. La police du titre est [http://www.thibault.org/fonts/isabella/ Isabella], conçue par John STRACKE et distribuée sous licence LGPL.

+++ Remerciements

Un grand merci à tout ceux qui ont contribué aux sites webs du clan. En particulier Arnaud de RUFRAY pour le concept du thème et le [http://ozanam.clansdeparis.net/ clan Ozanam] pour le nom de domaine. Le clan remercie la société [http://talevas.com/ Talevas] pour nous héberger grâcieusement.