/*-*- css -*-*/

$highlight_color: #222;
$page_background: #D6CBB4;
$content_background: #FAFBF8;
$alt_color: #888;
$alt_background: rgba(#000, .2);
$disabled: #888;
$error: #550000;
$error_bg: #F5756B;
$info: #3F4C20;
$info_bg: #A0BF6B;
$warn: $error;
$warn_bg: #F2C956;
$critical: $error;
$critical_bg: $error_bg;
$branche_jaune_bg: $warn_bg;
$branche_verte_bg: $info_bg;
$branche_rouge_bg: darken($error_bg, 5%);
/* pour les formulaire */
$taille_etiquette: 12em;
/* À peu près 1/3 du contenu sur un écran 1024 */
$taille_vignette: 248px;
$taille_logo: 80pt;
$taille_menu: 18em;
$taille_piedpage: 25em;
$taille_mini_vignette: $taille_vignette / 2;


@mixin minipage {
    /* style commun pour les pages avec peu de contenu, on utilise réduit
       la largeur et on centre */

    width: 60%;
    max-width: 50em;
    margin: 1em auto;
}

@mixin message {
    position: relative;
    padding: 1ex;
    margin: 2pt auto;
    line-height: 1.1em;

    .auteur {
	float: left;
	margin: 1ex 1em 0 1ex;
	font-weight: bold;
    }

    &.empty {
        color: #333;
        height: auto;
	line-height: 4em;
        text-align: center;
    }
}

@mixin adminlink {
    display: inline-block;
    padding: .5ex 1em;
    font-size: 8pt;
    margin: .5ex;
    vertical-align: middle;
}
