@import "lib.scss";

#document.calendrier #calendrier {
    width: 80%;
    max-width: 45em;
    margin: 1em auto;
}

#calendrier table {
    width: 100%;
}

@media print {
    #calendrier table {
	font-size: 130%;
	margin: 15% auto 10%;

	td {
	    padding: .75ex;
	}
    }
}
