.dijitPopup
{
    position: absolute;
}

/* Calendrier Dojo */
.dojoxCalendarContainer
{
  cursor: default;
  font-family: "DeJaVu Sans",tahoma, verdana, helvetica;
  padding: 4px;
  text-align: center;
  width: 18em !important;
  background: white;
  border: 1px solid black ;
  }


.dojoxCalendar .dijitCalendarNextMonth .dijitCalendarDateLabel,
.dojoxCalendar .dijitCalendarPreviousMonth .dijitCalendarDateLabel
{
  border: 0px;
  color: #444;
  background: #EEE;
  padding-left: 0px;
  padding-right: 0px;
  }

.dojoxCalendar .dijitCalendarNextMonth .dojoxCalendarYearLabel,
.dojoxCalendar .dijitCalendarPreviousMonth .dojoxCalendarYearLabel
{
  background-color: white;
  border-color: white;
  color: #646464;
  }

.dojoxCalendar .dijitCalendarSelectedDate
{
  /* cell for the selected date */
  background: #EAD382;
  color: black !important;
  border: 1px dotted #444 !important;
  }

.dojoxCalendar thead .dijitCalendarDayLabel
{
  cursor: auto;
  font-weight: bold;
  color: #222;
  }

.dojoxCalendarBody
{
  height: 11em;
  overflow: hidden;
  position: relative;
  margin: auto;
  }

.dojoxCalendar .dijitCalendarDayLabels,
.dojoxCalendarMonthLabels,
.dojoxCalendarYearLabels
{
  width: 100%;
  height: inherit;
  top: 0px;
  position: absolute;
  left: 0px;
  margin: auto;
  text-align: center;
  }

.dojoxCalendarYearLabels table,
.dojoxCalendarMonthLabels table,
.dojoxCalendar .dijitCalendarDayLabels table
{
  width: 100%;
  height: inherit;
  }

.dojoxCalendarMonthLabels td
{
  height: 33.3%;
  vertical-align: 50%;
  }

.dojoxCalendar .dijitCalendarDateTemplate
{
  padding: 0px;
  }

.dojoxCalendar .noPointer,
.dojoxCalendar .noPointer *
{
  cursor: auto;
  }

.dojoxCalendarHeader
{
  width: 100%;
  border-bottom: 1px solid black;
  }

.dojoxCalendarDecrease,
.dojoxCalendarIncrease
{
  min-height: 12px;
  width: 15px;
  cursor: pointer;
  }

.dojoxCalendarDecrease
{
  background-image: url("ui/fleche-gauche.png");
  background-repeat: no-repeat;
  background-position: left center;
  float: left;
  }

.dojoxCalendarIncrease
{
  background: url("ui/fleche-droite.png");
  background-repeat: no-repeat;
  background-position: right center;
  float: right;
  }


.dojoxCalendarMonthLabel
{
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 25%;
  }

.dojoxCalendarYearLabel
{
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  }

.dojoxCalendarTitle
{
  cursor: pointer;
  font-weight: bold;
  }

.dojoxCalendar .dijitCalendarDateLabel
{
  cursor: pointer;
  padding: 1px 2px;
  text-align: center;
  }

.dojoxCalendar .dijitCalendarDayLabel
{
  cursor: pointer;
  padding: 0pt 2px;
  text-align: center;
  }

.dojoxCalendar .dijitCalendarDisabledDate
{
  text-decoration:line-through !important;
  cursor:default !important;
  }

.dojoxCalendarBody + div
{
  width: auto;
  }

.dojoxCalendar .dojoxCalendarFooter
{
  border-top: 1px dotted #EEE;
  padding-top: 4px;
  cursor: pointer;
  width: 100%;
  }

.dojoxCalendar .dijitCalendarCurrentMonth
{
  color: black;
  }

.dojoxCalendar .dijitCalendarSelectedDate .dijitCalendarDateLabel
{
  padding: 0px 1px;
  }

.dojoxCalendar .monthOnly .dijitCalendarDayLabels,
.dojoxCalendar .yearOnly .dijitCalendarDayLabels,
.dojoxCalendar .monthOnly .dojoxCalendarComma,
.dojoxCalendar .yearOnly .dojoxCalendarComma,
.dojoxCalendar .monthOnly .dojoxCalendarFooter,
.dojoxCalendar .yearOnly .dojoxCalendarFooter,
.dojoxCalendar .monthOnly .dojoxCalendarYearHeader,
.dojoxCalendar .monthOnly .dojoxCalendarIncrease,
.dojoxCalendar .monthOnly .dojoxCalendarDecrease,
.dojoxCalendar .yearOnly .dojoxCalendarMonthLabelNode
{
  display: none;
  }


/* Heure */
.dijitTimePicker
{
  background: white;
  border: 1px solid black;
  border-radius: 0 0 1ex 1ex;
  }

.dijitArrowButtonInner
{
  display: none;
  }

.dijitArrowButtonChar
{
  width: 100%;
  text-align: center;
  padding: .25ex 0;
  }

.dijitTimePickerTick,
.dijitTimePickerMarker
{
  }

.dijitTimePickerTick
{
  color: #888;
  background: #EEE;
  }

.dijitTimePickerMarker
{
  background: white;
  color: black;
  font-weight: bold;
  }

.dijitTimePickerItemSelected
{
  color: black;
  background: #ffe284 none;
  }

.dijitTimePickerItemHover
{
  background: lightgrey;
  color:black;
  cursor: pointer;
  }

.dijitTimePickerItemHover,
.dijitTimePickerItemSelected
{
  position: relative;
  z-index: 10;
  }

.dijitTimePickerTick .dijitTimePickerItemInner
{
  font-size:0.4em;
  color: black;
  }

.dijitTimePickerItemInner
{
  text-align: center;
  }

.dijitTimePickerItemHover .dijitTimePickerItemInner,
.dijitTimePickerItemSelected .dijitTimePickerItemInner
{
  font-size: 1em;
  }

.dijitTimePickerTickHover,
.dijitTimePickerTickSelected,
.dijitTimePickerMarkerHover,
.dijitTimePickerMarkerSelected
{
  margin-top:-0.3em;
  margin-bottom:-0.3em;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  }

.dijit_a11y .dijitTimePickerTickHover
{
  background-color: #CCC !important;
  border-top: 1px solid #333 !important;
  border-bottom: 1px solid #333 !important;
  }

.dijit_a11y .dijitTimePickerMarkerHover
{
  border-bottom-width: 2px;
  }
