@import "lib.scss";

#cartevisite li.adresse {
    white-space: pre-wrap;
}

.individus {
  #details, #cv {
    padding: 0 1ex;
    display: inline-block;
    vertical-align: top;
  }

  #details {
    width: 30%;

    ul {
	    /* Adapté à la ligne Dernière connexion */
	    min-width: 15em;
	    padding-left: 2em;
    }

    #notes {
	    margin: 1ex;
	    font-style: italic;
    }
  }

  #cv {
    width: 69%;

    table {
	    width: 100%;

	    thead { display: none; }
	    td.unite {
	      white-space: nowrap;
	      width: 80%;
	    }
    }
  }

  /* si pas de détails */
  #cartevisite + #cv {
    display: block;
    margin: 0 auto;
  }
}

#document.individus.inscrire .effectifs
{
    width: 80%;
    max-width: 40em;

    td {
	white-space: nowrap;
    }
}

.individus.admin form {
    table {
	width: auto;
	margin: 0 auto;

	td {
	    white-space: nowrap;

	    .control.date input {
		font-size: 80%;
	    }
	}
    }
}

.individus.reinscrire {
    .vignettes {
	white-space: nowrap;
	text-align: center;

	li {
	    vertical-align: middle;

	    &.liaison {
		font-size: 200%;
		font-style: italic;
		font-family: serif;
		margin: 1em;
	    }
	}
    }
}

.individus.desinscrire #inscription {
    width: 100%;
    text-align: center;

    .vignette {
	display: inline-block;
    }

    table {
	@include minipage;
	margin: 0 auto;

	thead { display: none; }
    }
}

ul.annuaire {
    display: block;
    margin: 0;
    padding: 0;

    & > li
    {
        display: inline-block;
        width: 49%;
        min-width: 26rem;
        vertical-align: top;
        padding: .5rem;

        .section.cartevisite
        {
            margin: 0;
            padding: 1rem;
            min-height: 12rem;

            & > .h
            {
                padding-left: $taille_mini_vignette + 10;
            }

            ul.infos
            {
                left: $taille_mini_vignette;
                top: 4rem;
                max-width: 80%;
            }
        }
    }
}

form.recherche {
    text-align: center;
    margin: 1em;

    div.control, p.buttonbox {
	display: inline-block;
	width: auto;
	padding: 0;
	margin: 1ex;
	vertical-align: middle;
    }

    div.search {
	width: 75%;

	input {
	    width: 100%;
	}
    }
}

#document.annuaire {
    #filtres {
        margin: 1em auto;

        ul {
            display: block;
            font-size: 0;
            text-align: center;
            margin: 0;
            padding: 0;

            li:first-child {
                border-radius: 1em 0 0 1em;
                padding-left: 1em;
            }

            li {
                font-size: 12pt;
                display: inline-block;
                padding: 1ex;
                margin: 1px;
                background: $alt_background;

                a {
                    font-size: inherit;
                }
            }

            li.current {
                background: darken($alt_background, 10%);
                a {
                    font-weight: bold;
                    color: darken($highlight_color, 15%);
                }
            }

            li:last-child {
                border-radius: 0 1em 1em 0;
                padding-right: 1em;
            }
        }
    }
}
