@import "lib.scss";

.boulet {
    font-weight: bold;
    font-size: 120%;
}

#article {
    font-size: 120%;
}

#document p img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

#document .section.article {
    @include minipage;

    position: relative;
    padding: 2em;
    background: $alt_background;
    font-size: 1.3em;
    line-height: 1.5;

    > .h {
        position: static;
        display: block;
        margin: 0 1em 1em 0;
        padding: 0;
    }
}

#document.journaux .avatar {
    position: relative;
    float: right;
    margin-top: -1.5rem;
    z-index: 10000;
}

#document.index,
#document.brouillons
{
    background-image: url("illustrations/salut-avec-plume.png");
    background-position: 5% 10em;
    background-size: 12% auto;
    background-repeat: no-repeat;

    .article {
	font-size: 120%;
	clear: both;
	margin-bottom: 4em;
        margin: 1em auto 4em;

	.contenu {
	    font-size: 110%;
	}

	.suite, .signature { display: none;  }
    }
}

#document.ecrire .entry.input textarea,
#document.ecrire textarea
{
    width: 100%;
}

@media print {
    .journaux.consulter h2,
    .journaux.consulter h2 + p
    {
	display: none;
    }
}
