.mini
{
  #body {
    float: none;
    width: 80%;
    max-width: 80em;
  }

  #contentwrapper
  {
    margin-top: 2em;
    border-width: 1pt;
  }

  #document {
    padding: 5em 3em 3em;
    margin: auto;
    min-height: 0;

    // Masquer le titre de document au profit de la boîte de dialogue d'erreur.
    & > .h
    {
      display: none;
    }
  }

  #footer {
    display: none;
  }
}
