/*-*- css -*-*/

@import "lib";

#valider .form .select {
    display: block;
    width: 100%;
}

@media screen {
    .valider form {
	.h {
	    clear: both;
	}

	#presentation {
	    @include message;
	    clear: both;
	}

	.control[id*=message] {
	    .input, textarea {
		width: 100%;
	    }
	}
    }
}
