$highlight_color: #615230;
$page_background: #D6CBB4;
$content_background: #FAFBF8;
$alt_color: #888;
$alt_background: #B8BFAE;
$disabled: #888;
$error: #550000;
$error_bg: #D6968B;
$info: #3F4C20;
$info_bg: #A0BF6B;
$warn: $error;
$warn_bg: #EDDF9A;
$critical: $error;
$critical_bg: $error_bg;
/* À peu près 1/3 du contenu sur un écran 1024 */
$taille_vignette: 248px;
$taille_logo: 80pt;
$taille_menu: 18em;
$taille_piedpage: 25em;
$taille_mini_vignette: $taille_vignette / 2;
/* Largeur des noms des champs de formulaire. */
$taille_etiquette: 12em;



@mixin headfont {
    font-family: "Old Newspaper Types";
    font-weight: normal;
}

@mixin message {
    background-color: $alt_background;
}

@mixin adminlink {
    background-color: $page_background;
    border-radius: 1ex;

    &.critical {
	background-color: $critical_bg;
    }
}
