@import "lib.scss";

.admin {
    tr.critical, tr.error {
	color: $critical;
	background: $critical_bg;

	&.odd {
	    background: lighten($critical_bg, 5%);
	}
    }

    tr.warn, tr.warning {
	background: $warn_bg;
	font-weight: bold;

	&.odd {
	    background: lighten($warn_bg, 10%);
	}

	td.inscrits {
	    color: $warn;
	}
    }
}
