@import "lib.scss";

@font-face {
    font-family: "Old Newspaper Types";
    src: url("OldNewspaperTypes.ttf");
}

body {
    font-family: "Liberation Sans", "Deja Vu Sans", sans-serif;
    color: black;
}

html {
    background-image: url("ui/fond.png");
    background-repeat: repeat;
}

.h, th, h2, h3, h4, h5, h6
{
    color: $highlight_color;
}

.h {
    @include headfont;
    margin-top: 1em;
    margin-bottom: 1ex;
}

a {
    color: $highlight_color;

    &:hover, &:visited
    {
	color: $highlight_color;
    }
}

/* Formulaires */
fieldset {
    position: relative;
    margin-top: 1em;
    padding-top: 2.5em;

    border: 1pt solid $highlight_color;
    border-radius: 1ex;

    legend {
	@include headfont;
	position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: .5ex 1em .5ex 3em;

	color: $content_background;
	background-color: $highlight_color;
	border-radius: 0 0 0 2em;
    }
}

/* Aide en ligne dans le formulaire */
form {
    p.info, p.warn {
	box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	border-radius: 1ex;
	background-repeat: no-repeat;
	padding: 1ex 1em 1ex 48px;
	margin: 1ex 1ex .5ex;
	font-size: 120%;
	min-height: 40px;
    }

    p.info {
	color: $info;
	background-color: $info_bg;
    }

    p.warn {
	color: $warn;
	background-color: $warn_bg;
    }
}

div.control.invalid {
    background-color: $error_bg;
    border-radius: .75ex;

    label {
	color: $error;
    }

    div.error {
	color: $error;
    }
}

div.required > label:before {
    color: $error;
}

.buttonbox .critical {
    color: $critical;
}

/* Tableau */
table {
    border-collapse: separate;
    border-spacing: 0 1pt;
}

thead th {
    border-bottom: 2px solid #845d18;
}

tr.odd {
    background: lighten($alt_background, 15%);
}

/* Document */
#document {
  padding-top: 4rem;

    h1 {
	@include headfont;
    }

    &.error {
	background-image: url("illustrations/accident.png");
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto 20em;
	padding-bottom: 25em;

	&.http-404 {
	    background-image: url("illustrations/perdu.png");
	}

	&.http-403, &.http-401 {
	    background-image: url("illustrations/commissaire.png");
	    background-size: auto 28em;
	    padding-bottom: 30em;
	}

	&.http-200 {
	    background-image: none;
	}
    }

    &.maintenance {
	background-image: url("illustrations/froissartage.png");
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto 20em;
	padding-bottom: 25em;
    }
}

.section.carte {
    background: lighten($alt_background, 10%);
    border-radius: 1ex;
}

/* VIGNETTE */

/* Vignette seule, pour suppression */
a.vignette
{
    color: black;
    .image
    {
	padding: 1ex;
	border-radius: .5ex;

	&.empty.paragraph {
	    color: $disabled;
	    background-color: rgba(255, 255, 255, .7);
	}
    }

    &.photo .image,
    &.album .image,
    &.individu .image,
    &.document .image
    {
	border: 1pt solid $highlight_color;
	background: white;
	box-shadow: .25ex .25ex .75em rgba(40, 40, 40, .75);
    }
}

#document.annuaire {
    background-image: url("illustrations/ancien-moderne.png");
    background-position: 5% bottom;
    background-size: 15em auto;
    background-repeat: no-repeat;
    padding-bottom: 20em;

    #filtres {
        ul {
            li {
                background: $alt_background;
            }

            li.current {
                background: darken($alt_background, 10%);
                a {
                    color: darken($highlight_color, 15%);
                }
            }
        }
    }
}

/* Unités */
.effectifs tr.category td a {
    @include headfont;
    color: $highlight_color;
    font-size: 125%;
    text-decoration: none;
    padding-top: 1em;
}

#document.archives
{
    background-image: url("illustrations/ancien-moderne.png");
    background-position: 95% bottom;
    background-size: 15em auto;
    background-repeat: no-repeat;
    padding-bottom: 20em;
}

#document.effectifs
{
    background-image: url("illustrations/panorama-rassemblement.png");
    background-position: bottom;
    background-size: auto 10em;
    background-repeat: no-repeat;
    padding-bottom: 12em;
}

/* Activités */
#document.calendrier #calendrier {
    background-image: url("illustrations/panorama-raid.png");
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 25em;
}

/* Photos */
#document.photos.consulter,
#document.photos.voir
{
    background-image: url("illustrations/eclaireur-admirant.png");
    background-position: right bottom;
    background-size: auto 20em;
    background-repeat: no-repeat;
    padding-bottom: 20em;
}

#contentwrapper #document.photos.voir h1 {
    color: $highlight_color;
}

#document.photos.voir img,
#document.photos.editer img
{
    border: 1px solid black;
    border-radius: .5ex;
    box-shadow: .5ex .5ex 1.5em rgba(35, 35, 30, .75);
    background: white;
}

/* Citations */
#document.citation {
    background-image: url("illustrations/portrait-bp.png");
    background-position: 5% 10em;
    background-size: 12% auto;
    background-repeat: no-repeat;

    .section.citation {
	@include message;
    }
}

/* Liens */
#document.liens {
    background-image: url("illustrations/poignee.png");
    background-position: center 95%;
    background-size: 15em auto;
    background-repeat: no-repeat;
    padding-bottom: 20em;

    p.description {
	color: $alt_color;
    }
}

/* Livre d'or */
#document.livredor {
    background-image: url("illustrations/courrier.png");
    background-position: center bottom;
    background-size: auto 15em;
    background-repeat: no-repeat;
    padding-bottom: 20em;

    .section.message {
	@include message;
    }
}

/* Journaux */
#document.journal.index,
#document.brouillons
{
    background-image: url("illustrations/salut-avec-plume.png");
    background-position: 5% 10em;
    background-size: 12% auto;
    background-repeat: no-repeat;

    .article {
	& + .article {
	    border-top: 1pt dashed $highlight_color;
	}

	.suite, .signature { display: none;  }
    }
}

/* Documents */
.section.document .telechargement a {
	@include adminlink;
	background-color: $info_bg;
}

@media screen {
    #header {
	& > .h {
	    @include headfont;
	    text-shadow: 1pt 1pt 2pt rgba(250, 251, 248, .75);

	    a {
		color: inherit;
		text-decoration: inherit;
	    }
	}
    }

    #document {
	background-color: $content_background;
	border-style: solid;
	border-color: $highlight_color;
	border-radius: 1ex;

	& > h1 {
        position: absolute;
	    top: 0;
	    left: 0;
	    font-size: 150%;
	    padding: 1ex 5em 1ex 1em;
	    margin: 0;
	    border-radius: 0 0 2em 0;
	    padding: 1ex 5em 1ex 1em;
	    background: $highlight_color;
	    color: $content_background;

	    a {
		color: inherit !important;
	    }
	}

	div.dialog {
	    background: lighten($page_background, 22%);
	    box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	    border-radius: 1ex;

	    &.info {
		background-color: $info_bg;
	    }

	    &.warn, &.error {
		background-color: $warn_bg;
	    }
	}
    }

    #footer
    {
	color: $content_background;
	background-color: $highlight_color;
	background-image: url('illustrations/tente.png');
	background-position: bottom left;
	background-repeat: no-repeat;

	.h, .h a {
	    @include headfont;
	    color: $page_background;
	}

        li a {
            color: inherit;
        }
    }

    #aside .h {
	@include headfont;
	color: lighten($content_background, 10%);
	background: $highlight_color;
    }

    #aside, #footer {
        ul li {
            background-repeat: no-repeat;
            background-position: left center;
            background-size: auto 80%;
            line-height: 1.5em;

            a:hover {
	        text-shadow: 1pt 1pt 10pt rgba(50, 51, 48, .25);
            }
	}
    }

    /* BRANCHE */
    #branche {
	.h {
	    color: #483005 !important;
	}

	li + li:before {
	    content: "/";
	    margin: 0 1ex;
	    color: $highlight_color;
	}
    }

    /* ICÔNES */
    #aside {
	#login li + li {
    	    background-image: url("icones/login.png");
	}

	li.unites,
	li.membres
	{
	    background-image: url("icones/customers.png");
	}

	li.activites {
	    background-image: url("icones/date.png");
	}

	li.photos {
	    background-image: url("icones/photography.png");
	}

	li.journaux {
	    background-image: url("icones/feed.png");
	}

	li.documents {
	    background-image: url("icones/library.png");
	}

	li.liens {
	    background-image: url("icones/world.png");
	}

	li.rapports, li.livredor, li.citation, li.ecrire {
	    background-image: url("icones/pen.png");
	}

	li.inscription {
	    background-image: url("icones/plus.png");
	}

	li.individu, li.fiche {
	    background-image: url("icones/user.png");
	}

	li.print {
	    background-image: url("icones/print.png");
	}

	li.fermer {
	    background-image: url("icones/lock.png");
	}

	li.prevoir, li.fonder, li.inscrire, li.citation.enregistrer
	{
	    background-image: url("icones/plus.png");
	}

        li.envoyer {
	    background-image: url("icones/publish.png");
        }

	li.administrer, li.admin {
	    background-image: url("icones/settings.png");
	}

	li.parametres {
	    background-image: url("icones/config.png");
	}

	li.editer {
	    background-image: url("icones/pencil.png");
	}

	li.annuler, li.supprimer, li.desinscrire
	{
	    background-image: url("icones/supprimer.png");
	}

	li.archives {
	    background-image: url("icones/old-versions.png");
	}

	li.rss, li.atom {
	    background-image: url("icones/feed.png");
	}

	li.vcf {
	    background-image: url("icones/my-account.png");
	}

	li.ics {
	    background-image: url("icones/date.png");
	}

	li.csv {
	    background-image: url("icones/database.png");
	}
    }

    a.adminlink {
	@include adminlink;
    }

    ul.adminlinks li a {
	@include adminlink;
	box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
    }

    /* Historique */
    #historique.pagelinks {
	background: lighten($alt_background, 10%);
	border-radius: 1ex;

	.h {
	    @include headfont;
	}
    }
}

@media print {
    #footer #about .author {
	@include headfont;
	color: $highlight_color;
    }
}
