/*-*- css -*-*/

@import "lib";

body {
    font-family: "Liberation Sans", "Deja Vu Sans", sans-serif;
    color: black;
}

.h {
    margin-top: 1em;
    margin-bottom: 1ex;
}

h1 {
    font-size: 1.40em;
}

h2 {
    font-size: 1.30em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.20em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1.10em;
}

p {
    text-align: justify;
    margin: 0 0 1ex;
}

ul {
    list-style-type: disc;
}

a {
    text-decoration: none;

    &:hover
    {
	text-decoration: underline;
    }
}

.development #body {
    background: url("ui/travaux.png") 4% top no-repeat;
    background-size: auto .7 * $taille_logo;
    background-position: 1% 2ex;
}

#header {
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: $taille_logo auto;

    &.suf {
    	background-image: url("associations/suf.png");
    }

    &.fse {
    	background-image: url("associations/fse.png");
    }

    &.europa {
    	background-image: url("associations/europa.png");
    }
}

#document {
    &.error {
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto 20em;
    }

    &.maintenance {
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto 20em;
    }

    div.dialog {
        padding-left: 48px;

	&.info {
	    color: $info;
	    background-image: url("ui/information.png");
	    background-position: 1ex .72ex;
	    background-repeat: no-repeat;
	}

	&.warn, &.error {
	    color: $warn;
	    background-image: url("ui/attention.png");
	    background-position: 1em 1em;
	    background-repeat: no-repeat;
	}
    }
}

.empty
{
    text-align: center;
    height: 16em;
    line-height: 16em;
    color: #AAA;

    &.image {
	border: 1pt dashed black;
	padding: 1ex;
	margin: 1ex;
    }
}

table {
    border-collapse: separate;
    border-spacing: 0 1pt;
}

thead th {
    border-bottom: 2px solid $highlight_color;
    text-align: center;
}

td {
    padding: .5ex .75ex;
}

td span.treecellpad {
    display: inline-block;
    width: 1em;
}

td span.treecellnode {
    display: inline-block;
    width: 1em;
    font-size: 80%;
    vertical-align: middle;
}

tr.odd {
    background: $alt_background;
}

/* Formulaire */
input[type=text],
input[type=search],
input[type=password],
textarea
{
    border: 1pt solid $highlight_color;
    padding: 1pt;
    background: lighten($alt_background, 2%);
}

input[type=text]:focus,
input[type=search]:focus,
input[type=passwrd]:focus,
textarea:focus
{
    color: black;
    background: white;;
}

fieldset {
    border: 1pt solid $highlight_color;

    legend {
	font-size: 120%;
    }
}

/* Aide en ligne dans le formulaire */
form {
    p.info, p.warn {
	box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	border-radius: 1ex;
	background-repeat: no-repeat;
	padding: 1ex 1em 1ex 48px;
	margin: 1ex 1ex .5ex;
	font-size: 120%;
	min-height: 40px;
    }

    p.info {
	color: $info;
	background-position: 1ex .72ex;
	background-color: $info_bg;
	background-image: url("ui/information.png");
    }

    p.warn {
	color: $warn;
	background-position: 1ex .72ex;
	background-color: $warn_bg;
	background-image: url("ui/attention.png");

	strong {
	    line-height: 30px;
	}
    }
}

div.control {
    &.invalid {
	background-color: $error_bg;
    	border-radius: .75ex;

	label {
	    color: $error;
	}

	input[type=text],
	input[type=password],
	textarea
	{
	    border-color: $error;
	}

	div.error {
	    margin: 1ex 1em;
	    color: $error;
	    font-weight: bold;
	    font-size: 110%;
	}
    }
}

div.required > label:before {
    font-family: mono;
    content: "*";
    color: $error;
    margin-left: -1ex;
}

.buttonbox .critical {
    color: $critical;
    font-weight: bold;
}

a.vignette
{
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;

    .image.empty.paragraph {
	color: $disabled;
	background-color: rgba(255, 255, 255, .7);
    }

    &.photo .image,
    &.album .image,
    &.individu .image,
    &.document .image
    {
	border: 1pt solid $highlight_color;
	background: white;
    }
}

.signature {
    text-align: right;
    font-style: italic;
}

#document.citation {
    .section.citation {
	@include message;

	p.citation {
	    white-space: pre-wrap;
	}
    }
}

.section.document {
    @include smallcontent;

    .telechargement a {
	@include adminlink;
	font-weight: bold;
	padding-left: 3em;
	background: url("icones/sign-up.png") .5em center no-repeat;
	background-size: auto 2em;
    }
}

#document.liens {
    p.description {
	font-style: italic;
	text-align: left;
	color: $alt_color;
    }
}

@media screen {
    #document {
	div.dialog {
	    &.info {
		background-color: $info_bg;
	    }

	    &.warn, &.error {
		background-color: $warn_bg;

		&.showtrace #details > .h {
		    font-size: 1em;
		    text-align: right;
		    cursor: pointer;
		    color: lighten($highlight_color, 10%);
		}
	    }
	}
    }

    #citation {
	p {
	    font-size: 140%;
	    font-style: italic;
	    text-align: left;
	    white-space: pre-wrap;
	}

	.signature
	{
	    font-size: 0.8em;
	    font-weight: bold;
	    font-style: italic;
	    text-align: right;
	}
    }

    #aside li.current a {
	color: black;
	text-decoration: none;
	font-weight: bold;
    }

    #aside, #footer {
	ul li {
	    list-style-type: none;
	    line-height: 1.5em;

	    a:hover {
		text-shadow: 1pt 1pt 10pt rgba(50, 51, 48, .25);
	    }
	}
    }

    a.adminlink {
	&.supprimer, &.admin, &.editer {
	    background-repeat: no-repeat;
	    background-size: auto 70%;
	    background-position: center center;
	    padding: 1.75em 1.75em 0 0;
	}

	&.supprimer {
	    background-image: url("icones/supprimer.png");
	}

	&.admin {
	    background-image: url("icones/settings.png");
	}

	&.editer {
	    background-image: url("icones/pencil.png");
	}
    }

    td a.adminlink {
	font-size: 80%;
    }

    .pages.links li.current a {
	color: black;
	text-decoration: none;
	font-weight: bold;
    }

    /* Historique */
    #historique.pagelinks {
        background: $alt_background;

	a {
	    color: inherit !important;
	}

	.selectionnee a
	{
	    font-weight: bold;
	    text-decoration: none;
	    color: black;
	}
    }

    /* Glisser-déposer */
    .dojoDndItem {
	cursor: pointer;

        td {
            border-style: solid;
            border-color: $content_background;
            border-width: 0;
            transition: border-top-width .25s, border-bottom .25s;
        }
    }

    .dojoDndItemAnchor.dojoDndItemBefore td,
    .dojoDndItemAnchor.dojoDndItemAnchor td
     {
         border: none !important;
     }

    .dojoDndItemBefore td
    {
        border-top-width: 2em;
    }

    .dojoDndItemAfter td
    {
        border-bottom-width: 2em;
    }

    .dojoDndAvatarHeader {
        display: none;
    }

    .dojoDndAvatar {
	opacity: .9;
    }

}

@media print {
    html, body {
	font-size: 9pt;
	font-family: serif;
	background: white;
	color: black;
    }

    body {
	background-repeat: no-repeat;
	background-position: 100% top;
	background-size: 6em 6em;

	&.suf {
	    background-image: url("associations/suf.png");
	}

	&.fse {
	    background-image: url("associations/fse.png");
	}

	&.europa {
	    background-image: url("associations/europa.png");
	}
    }

    a {
	color: inherit;
	text-decoration: none;
    }

    tr.odd {
	background-color: #F0F0F0;
    }

    div.dialog {
	font-size: 140%;
    }

    #footer #about .author {
	font-size: 1.5em;
    }
}
