/*-*- css -*-*/

@import "lib";

#cartevisite
{
    @include smallcontent;

    li.adresse {
	white-space: pre-wrap;
    }
}

#details, #cv {
    padding: 0 1ex;
    display: inline-block;
    vertical-align: top;
}

#details {
    width: 30%;

    ul {
	/* Adapté à la ligne Dernière connexion */
	min-width: 15em;
	padding-left: 2em;
    }

    #notes {
	margin: 1ex;
	font-style: italic;
    }
}

#cv {
    width: 69%;

    table {
	width: 100%;

	thead { display: none; }
	td.unite {
	    white-space: nowrap;
	    width: 80%;
	}
    }
}

/* si pas de détails */
#cartevisite + #cv {
    display: block;
    margin: 0 auto;
}

.individus.editer form,
.individus.inscrire form,
.individus.reinscrire form,
.individus.desinscrire form,
.individus.supprimer form
{
    @include minipage;
}

#document.individus.inscrire .effectifs
{
    width: 80%;
    max-width: 40em;

    td {
	white-space: nowrap;
    }
}

.individus.admin form {
    table {
	width: auto;
	margin: 0 auto;

	td {
	    white-space: nowrap;

	    .control.date input {
		font-size: 80%;
	    }
	}
    }
}

.individus.reinscrire {
    .vignettes {
	white-space: nowrap;
	text-align: center;

	li {
	    vertical-align: middle;

	    &.liaison {
		font-size: 200%;
		font-style: italic;
		font-family: serif;
		margin: 1em;
	    }
	}
    }
}

.individus.desinscrire #inscription {
    width: 100%;
    text-align: center;

    .vignette {
	display: inline-block;
    }

    table {
	@include minipage;
	margin: 0 auto;

	thead { display: none; }
    }
}

ul.annuaire {
    display: block;
    margin: 0;
    padding: 0;

    li {
	display: inline-block;
	width: 49%;
	margin: 0;
	padding: 0;

	.cartevisite {
	    @include smallcontent;
	    margin-bottom: 1em;

	    & > .h {
		padding-left: $taille_mini_vignette + 10;
	    }

	    ul.infos
	    {
		left: $taille_mini_vignette;
		max-width: 80%;
	    }
	}
    }
}

form.recherche {
    text-align: center;

    div.control, p.buttonbox {
	display: inline-block;
	width: auto;
	padding: 0;
	margin: 1ex;
	vertical-align: middle;
    }
}
