/*-*- css -*-*/

@import 'lib';

body.development div#body {
    background: url("illustrations/travaux.png") 1em 10em no-repeat;
    background-size: auto .7 * $taille_logo;
}

#body #document form {
    width: auto;
    max-width: none;
}

#control-installation-site-association span.control label {
    display: list-item;
    list-style-type: none;
    font-size: 130%;
    line-height: 2em;
    vertical-align: middle;
    padding-left: 3em;
    margin: 1ex 0;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2em auto;

    &.suf {
        background-image: url("associations/suf.png");
    }

    &.fse {
        background-image: url("associations/fse.png");
    }

    &.europa {
        background-image: url("associations/europa.png");
    }
}

#document #wait {
    /* masqué par défaut, à activer en JS. On utilise visibility + height pour charger les images. */
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;

    &.show {
	height: auto;
	visibility: visible;
	margin: inherit;
    }

    img { /* animation de patience */
	display: block;
	margin: 1em auto;
    }

    p {
	text-align: center;
    }
}
