/*-*- css -*-*/

@import "lib";

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 9pt;
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    height: $taille_logo;
    position: relative;
    overflow: hidden;
    margin: 2em auto 1em;

    & > .h {
	display: block;
	font-size: $taille_logo / 3;
	line-height: $taille_logo;
	margin: 0;
    }

    #branche {
	position: absolute;
	bottom: 0;
    }
}

#contentwrapper {
    margin: 0 auto;

    div.dialog {
	position: relative;
	width: 50%;
	max-width: 40em;
	padding: 1em;
	margin: 3em auto;
    }
}

.h {
    margin-top: 1em;
    margin-bottom: 1ex;
}

#document {
    position: relative;
    border-width: 1pt;

    #flash {
	font-size: 105%;
	margin: 1em auto 2em;

	.message {
	    height: 3em;
	    line-height: 3em;
	    margin: 0;
	    font-weight: bold;
	    text-align: center;
	}

	.detail {
	    margin: 0;
	}
    }
    div.dialog {
	&.warn, &.error {
	    #aide {
		width: 90%;
		margin: 0 auto;
	    }

	    #details {
		display: none;
	    }
	}
    }
}

/* Formulaires */
select {
    max-width: 20em;
}

table select {
    max-width: 12em;
}

div.control {
    text-align: left;
    clear: both;
    padding: .5ex 1em;
    margin: .5ex;
    width: 100%;

    & > label, & > .input, & > div.control {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: auto;
    }

    & > label {
	width: $taille_etiquette;
	padding: .5ex 0;
	margin-bottom: 1ex;
	white-space: nowrap;

	&:after
	{
	    content: " :";
	}
    }


    &.nocaption .input,
    &.nocaption textarea
    {
	width: 100%;
	margin: 0 auto;
    }

    &.compound div.control {
	display: inline-block;
	width: auto;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	vertical-align: baseline;

	label {
	    width: auto;
	}
    }

    input.spin {
	text-align: right;
    }

    &.date input
    {
	margin: 1pt;
	font-family: monospace;
	text-align: center;
    }

    &.check {
	position: relative;

	.input {
	    position: absolute;
	    /* marges intérieure de div.control et de l'étiquette */
	    top: 1ex;
	    left: 0;
	}

	& > label {
	    text-align: left;
	    margin-left: 1.5em;
            width: auto;

	    &:after {
		content: "";
	    }
	}
    }

    .input.file {
	div.wrapper {
	    overflow: hidden;
	    position: relative;

	    input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	    }
	}
    }

    .input.select {
	margin-left: -1 * $taille_etiquette;
	padding-left: $taille_etiquette;
	max-width: 90%;

	label {
	    display: inline-block;
	}

	&.nocaption {
	    text-align: center;
	    padding: 0;
	    margin: 0 auto;
	}
    }
}

table.control {
    margin: 1ex auto;

    td {
	padding: .25ex;
    }

    div.control.check > .input {
	position: static;
    }

    .input.file .max {
	display: none;
    }
}

tr td .check input,
tr td .check label
{
    top: auto !important;
    float: none;
    position: static;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: inherit;
}

.buttonbox {
    clear: both;
    text-align: center;
    padding: 2em 0 .5ex;
    margin: 0;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/* FORMULAIRE LATÉRAUX */
#aside div.control {
    label {
	width: 7em;
	overflow: hidden;
    }

    .input {
	margin: 0;
    }

    input {
	max-width: 6em;
    }
}

/* Vignette seule, pour suppression */
#vignette {
    text-align: center;
    width: 100%;
}

.vignettes
{
    padding: 0;

    & > li
    {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	margin: 1ex .5ex;

	a, ul {
	    line-height: 1em;
	}
    }
}

a.vignette
{
    display: inline-block;
    width: $taille_vignette;
    text-overflow: ellipsis;
    text-align: center;

    .section.wrapper
    {
	height: $taille_vignette;
	line-height: $taille_vignette;

	.image {
	    display: inline-block;
	    vertical-align: middle;
	}
    }

    &.mini {
	width: $taille_mini_vignette;
	.section.wrapper {
	    height: $taille_mini_vignette;
	    line-height: $taille_mini_vignette;
	}

	.image.empty.paragraph {
	    line-height: .9 * $taille_mini_vignette;
	    font-size: 70%;
	}
    }

    .image
    {
	max-width: 90%;
	max-height: 90%;
	width: auto;
	height: auto;
	padding: 2px;
	margin: 0 auto;

	&.empty.paragraph {
	    width: 100%;
	    vertical-align: middle;
	    padding: 0;
	    line-height: .9 * $taille_vignette;
	}
    }

    audio
    {
	max-width: 100%;
	max-height: 100%;
    }

    p.label {
	text-align: center;
	width: 100%;
    }
}

.vignette.nolabel,
.vignettes.photos .vignette
{
    p.label {
	display: none;
    }
}

#document > form,
#document.activites #calendrier,
#document.citation .section.citation,
#document.journaux.index > .article,
#document.inscriptions table,
#document.photos.voir #commentaires,
#document.photos.voir #description,
#document.parametres #parametres,
#statique {
    @include minipage;
}

#document.citation {
    .section.citation {
	@include message;

	p.citation {
	    white-space: pre-wrap;
	}
    }
}

#document.liens.editer form {
    width: auto;
    max-width: none;
}


div.section.document {
    @include smallcontent;

    .telechargement a {
	@include adminlink;
	font-size: 110%;
	margin: 1ex 0;
	line-height: 2em;
    }

    #description {
	font-size: 110%;
	margin: 1em;
    }
}

#document.liens {
    ul {
	width: 80%;
	padding: 0;
	margin: 1em auto 3em;

	li {
	    display: inline-block;
	    vertical-align: top;
	    width: 100%;
	    max-width: 24em;
	    padding: 1.5em 1em 0;
	}
    }

    p.lien {
	margin: 0;
	font-size: 140%;
    }

    p.description {
	margin: .5ex 0 1ex 1em;
    }
}

@media screen {
    html {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;
    }

    body {
	margin: 0 auto $taille_piedpage + 6em;
	padding: 0;
	width: 96%;
	min-height: 100%;
	min-width: 42em + $taille_menu;
	max-width: 106em + $taille_menu;
	overflow-x: hidden;
	overflow-y: auto;

	& > div	{
	    margin: 1ex auto;
	}
    }

    #header .h {
	text-align: center;
	padding: 0 $taille_logo * 2;
    }

    #contentwrapper {
	float: right;
	width: 100%;
    }

    #document {
	padding: 2em;
	padding-top: 5em;
	margin-right: $taille_menu;
	min-height: 40em;
    }

    #aside {
	float: right;
	width: $taille_menu;
	margin: 0;
	margin-right: -100%;
    }

    #footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $taille_piedpage;
	overflow: hidden;

	#wrapper {
	    margin: 0 auto;
	    width: 96%;
	    min-width: 50em;
	    max-width: 80em;
	    text-align: center;

	    div.section {
		display: inline-block;
		padding: 1ex 2em;
		margin: 0;
		vertical-align: top;
		width: 30%;
		max-width: 15em;
		text-align: left;
	    }

	    #citation {
		width: 35%;
		max-width: none;
	    }

	    #menu {
		width: 20%;
		max-width: 15em;
	    }

	    #about {
		width: 40%;
		max-width: 40em;
	    }

	    .date, .author, .title {
		display: none;
	    }
	}
    }

    #header {
	& > .h {

	    a {
		text-decoration: inherit;
	    }
	}
    }

    #document {
	& > h1 {
	    position: absolute;
	    top: 0;
	    left: 0;
	    font-size: 150%;
	    padding: 1ex 5em 1ex 1em;
	    margin: 0;
	}

	div.dialog {
	    .h {
		text-align: center;
		margin: 1ex;
		font-size: 140%;
	    }

	    &.warn, &.error {
		&.showtrace {
		    width: 80%;
		    overflow-x: auto;

		    .h {
			margin-left: 48px;
			text-align: left;
		    }

		    #details {
			display: block;
		    }
		}
	    }
	}
    }

    /* Masquer la trace par défaut en prod */
    body.production #page #document #details {
	& > .error {
	    display: none;
	}

	&:hover > *,
	&:active > *
	{
	    display: block;
	}
    }

    #footer li {
	padding: .5ex 0;
    }

    /* Animation des liens admin cachés. */
    #admin {
	ul {
	    transition: max-height 1s ease-out;
	    max-height: 4.5em;
	    overflow: hidden;

	    li + li + li {
		transition: opacity .5s ease-out .5s;
		opacity: 0;
	    }
	}

	&:hover ul {
	    max-height: 30em;
	    transition-delay: .25s;

	    li + li + li {
		opacity: 1;
		transition-delay: .25s;
	    }
	}
    }

    #aside
    {
	padding-top: 2em;
	padding-bottom: 4em;

	.section > * + * {
	    margin-left: 1ex;
	}

	.h, li a {
	    font-size: 130%;
	}

	.h {
	    text-align: right;
	    margin: 0;
	    padding: 1ex;
	    max-height: 3em;
	    white-space: nowrap;
	    overflow: hidden;

	    a {
		color: inherit;
		text-decoration: inherit;
		font-size: inherit;
	    }
	}

	li a {
	    padding: .5ex 0 .5ex 2.5em;
	    width: 100%;
	}
    }

    #aside, #footer {
	ul {
	    padding-left: 1ex;

	    li {
		line-height: 1.5em;

		a {
		    display: inline-block;
		    vertical-align: middle;
		}
	    }
	}
    }

    /* BRANCHE */
    #branche {
	font-size: 9pt !important;

	/* branche a un traitement *très* spéciale, on réinitialise tout */
	* {
	    position: static !important;
	    top: 0 !important;
	    margin: 0 !important;
	    display: inline !important;
	    padding: 0 !important;
	    background: none !important;
	}

	.h {
	    text-align: left;
	    font-size: inherit;
	}

	li + li:before {
	    content: "/";
	    margin: 0 1ex;
	}
    }

    /* CONSOLE */
    #console, #login {
	form {
	    margin: 0;

	    .buttonbox {
		padding: 1ex;
		display: block;
	    }
	}

        .vignette {
            display: block;
            margin: 1em auto;
        }
    }

    a.adminlink {
	@include adminlink;

	&.supprimer, &.admin, &.editer {
	    width: 0;
	    height: 0;
	    overflow: hidden;
	}
    }

    ul.adminlinks {
	position: absolute;
	top: -.5ex;
	right: 0;
	margin: 0;
	display: block;
	text-align: right;
	visibility: hidden;

	li {
	    display: inline-block;
	    margin: 0 .5ex;

	    a {
		@include adminlink;
	    }
	}
    }

    :hover > ul.adminlinks {
	visibility: visible;
    }

    .pages.links {
	margin: 1ex;
	text-align: center;
	clear: both;

	li {
	    list-style: none;
	    margin: 1ex;
	    display: inline;
	}
    }

    /* Historique */
    #historique.pagelinks {
	clear: both;
	padding: 1ex;
	margin: 5em 3em 3em;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;

	.h {
	    width: 100%;
	    font-size: 1.5ex;
	    margin-top: 0;
	}

	div.section {
	    display: inline-block;
	    vertical-align: top;
	    width: 32.5%;
	    min-width: 16em;
	    max-width: 22em;
	    padding: 1ex 2em;
	    margin: 0;

	    .h {
		margin-bottom: .5ex;
	    }
	}

	ul {
	    display: flex;
	    flex-direction: row-reverse;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	    margin: 0;
	    padding: 0;

	    li {
		display: inline-block;
		margin: .5ex;
	    }
	}
    }
}

@media print {
    body {
	margin: .5ex;
	padding: .5ex;
    }

    #contentwrapper {
	position: relative;
	top: 2em;
	width: auto;
	margin: 0 auto;
	padding: 0;

	#document > h1 {
	    font-size: 250%;
	    margin-bottom: 10pt;
	}
    }

    #footer #about .author {
	display: block;
	position: absolute;
	top: 20pt;
	left: .5ex;
	margin: 0;
	padding: 0;
    }

    #header,
    #footer #citation,
    #footer #menu,
    #footer #about .h,
    #footer #about li,
    #branche,
    #aside,
    #historique
    {
	display: none;
    }

    .h, h3, h4, h5, h6 {
	margin-bottom: 0;
    }

    p {
	margin-top: 0;
    }

    td {
	padding: .25ex .75ex;
    }
}
