/*-*- css -*-*/

@import "lib";

#document.liens {
    background-image: url("illustrations/poignee.png");
    background-position: center 95%;
    background-size: 15em auto;
    background-repeat: no-repeat;
    padding-bottom: 20em;

    ul {
	width: 80%;
	padding: 0;
	margin: 1em auto 3em;
	text-align: center;

	li {
	    display: inline-block;
	    vertical-align: top;
	    width: 100%;
	    max-width: 24em;
	    padding: 1.5em 1em 0;
	}
    }

    p.lien {
	margin: 0;
	font-size: 140%;
    }

    p.description {
	margin: 0;
	font-style: italic;
	text-align: left;
	margin: .5ex 0 1ex 1em;
	color: $alt_color;
    }
}
