/*-*- css -*-*/

@import "lib";

#document.livredor {
    background-image: url("illustrations/courrier.png");
    background-position: center bottom;
    background-size: auto 15em;
    background-repeat: no-repeat;
    padding-bottom: 20em;

    & > .section,
    & > .form
    {
	@include minipage;
    }

    .section.message {
	@include message;
    }

    .section#poster {
	text-align: center;

	#control-poster-contenu span.control.input,
	#control-editer-contenu span.control.input
	{
	    width: 100%;

	    textarea {
		width: 100%;
		height: 6em;
	    }
	}

	#control-editer-public {
	    display: inline-block;
	}
    }

    li {
	list-style-type: none;
    }
}
