/*-*- css -*-*/

@import "lib.scss";

.section.commentaire,
.photos.voir #description
{
    @include message;
}

#document.photos.consulter,
#document.photos.voir
{
    background-image: url("illustrations/eclaireur-admirant.png");
    background-position: right bottom;
    background-size: auto 20em;
    background-repeat: no-repeat;
    padding-bottom: 20em;
}

#contentwrapper #document.voir {
    h1 {
	background: none;
	border: none;
	border-radius: 0;
	width: 100%;
	padding: 2em 0 0;
	color: $highlight_color;
	text-align: center;
	font-size: 220%;
    }

    #visionneuse {
	position: relative;

	$height: 48em;
	height: $height;
	max-width: 60em;
	margin: 0 auto;

	&:hover {
	    .previous {
		background-image: url("ui/prev.png");
	    }

	    .next {
		background-image: url("ui/next.png");
	    }
	}

	p.photo
	{
	    height: $height - 1em;
	    text-align: center;
	    vertical-align: middle;
	    line-height: $height;
	}

	.links
	{
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    height: 0;
	    line-height: $height;

	    a {
		display: block;
		width: 100%;
		height: 100%;
		color: rgba(0, 0, 0, 0);
		font-size: 200%;
		font-weight: bold;
	    }

	    .item {
		position: absolute;
                top: $height / 3;
		width: 25%;
		height: $height / 3;
		background-repeat: no-repeat;
		background-size: 6em auto;
	    }

	    .previous {
		left: 0;
		background-position: left center;
	    }

	    .next {
		right: 0;
		background-position: right center;
	    }
	}
    }
}

#document.photos.voir img,
#document.editer img
{
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    z-index: 0;
    border: 1px solid black;
    border-radius: .5ex;
    box-shadow: .5ex .5ex 1.5em rgba(35, 35, 30, .75);
    margin: 0;
    padding: 1em;
    background: white;
}

#document.photos.editer {
    #photo {
	margin-bottom: 2em;
    }

    .photo {
	text-align: center;
	vertical-align: middle;
	height: 24em;
	line-height: 24em;
    }
}
