#presentation {
    text-align: left;
    width: 40%;
    margin: 0 2em 0 0;
    padding: 0;
}

#unites .vignettes {
    display: block;
}

#unites .vignettes li {
    display: block;
    float: left;
}

#historique
{
    clear: both;
}
