/* MISE EN PAGE FLEXIBLE de la page d'accueil d'unité : #prochacts et
#sousunites peuvent ne pas exister. */

#presentation img
{
  float: left;
  margin: 0 1ex 1ex 0;
  }

#accueil #effectifs,
#accueil #sousunites,
#accueil #prochacts,
#accueil #rapports,
#accueil #photos
{
  width: 48%:
  padding: 0 1%;
  margin: 0;
  float: left;
  }

#accueil #effectifs
{
  clear: left;
  }

#accueil #sousunites + *
{
  clear: left;
  }

#accueil #effectifs + #prochacts + #rapports
{
  clear: left;
  }

#accueil #photos
{
  width: 98%;
  }

#accueil #rapports,
#accueil #effectifs + .section
{
  width: 43%;
  }

#accueil #effectifs,
#accueil #sousunites + #rapports + #photos,
#accueil #effectifs + #prochacts + #rapports + #photos
{
  width: 53%;
  }

#rapports li,
#prochacts li
{
  white-space: nowrap;
  }