// -*- css -*-

@import "lib";

@media screen {
    #document form
    {
	@include minipage;
    }

    #calendrier table
    {
	width: 80%;
	margin: 1em 10%;
    }

    #calendrier > p
    {
	background-image: url("icones/attention.png");
	background-position: top left;
	background-repeat: no-repeat;
	margin: 2em 25%;
	width: 50%;
	padding: 0 0 0 36px;
	min-height: 32px;
	font-size: 1.1em;
    }
}

@media print {
    #calendrier table
    {
	margin: 15% auto 20%;
	padding: 0;
	width: 40em;
    }

    #calendrier td
    {
	padding: .75ex .75ex;
    }

    #calendrier td.date
    {
	width: 30%;
    }

    #calendrier td.intitule
    {
	width: 70%;
    }

    #historique,
    #infos .h,
    #chaine .h
    {
	display: none;
    }


    #calendrier > p,
    #participants + p
    {
	margin: 2em 15%;
	width: 70%;
	font-size: 1.1em;
    }

    .document.consulter #content h3
    {
	text-align: left;
	font-size: 1.3em;
	margin-left: 1em;
    }
}