/*-*- css -*-*/

@import "common";

.admin {
    &.index {
	h2
	{
	    margin: 0 0 1ex;
	}

	#log .logger {
	    font-family: monospace;
	}
    }

    &.unites {
	td.statut, td.chef, td.inscrits {
	    text-align: center;
	}
    }

    tr.critical, tr.error {
	font-weight: bold;
	color: $critical;
	background: $critical_bg;

	&.odd {
	    background: lighten($critical_bg, 5%);
	}

	a {
	    color: inherit;
	}
    }

    tr.warn {
	background: $warn_bg;
	font-weight: bold;

	&.odd {
	    background: lighten($warn_bg, 10%);
	}
    }
}

table {
    width: 100%;
    margin-bottom: 1em;
}

#indicateurs, #membres
{
    float: left;
    width: 22em;
}

#log
{
    float: right;
    width: 40em;
    min-height: 32em;
    overflow: hidden;

    td
    {
	white-space: nowrap;
    }

}