/*-*- css -*-*/

@import "common";

.admin {

    &.parametres form,
    &.membres table
    {
	@include minipage;
    }

    &.index {
	h2
	{
	    margin: 0 0 1ex;
	}

    }

    &.unites {
	td.nom {
	    vertical-align: middle;
	}

	td.statut, td.chef, td.inscrits, td.adminlinks {
	    text-align: center;
	    vertical-align: middle;
	}

    }

    &.log table {
	width: 100%;
    }

    tr.critical, tr.error {
	font-weight: bold;
	color: $critical;
	background: $critical_bg;

	&.odd {
	    background: lighten($critical_bg, 5%);
	}

	a {
	    color: inherit;
	}
    }

    tr.warn, tr.warning {
	background: $warn_bg;
	font-weight: bold;

	&.odd {
	    background: lighten($warn_bg, 10%);
	}

	td.inscrits {
	    color: $warn;
	}
    }

    td.level {
	text-transform: uppercase;
    }

    td.level, td.date, td.logger {
	font-family: monospace;
    }
}

table {
    width: 100%;
    margin-bottom: 1em;
}

#indicateurs, #membres
{
    float: left;
    width: 22em;
}

#log
{
    float: right;
    width: 40em;
    min-height: 32em;
    overflow: hidden;
}

table.logs td
{
    white-space: nowrap;
}