div.resume
{
  font-size: 1.1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed grey;
  margin-bottom: 1em;
  }

div.article > img
{
  float: right;
  clear: right;
  margin: 1ex;
  }

div.article > p:first-letter
{
  color: #007700;
  font-weight: bold;
  margin: 0;
  }

