#content > .section
{
  margin: 0;
  padding: 0;
  width: 100%;
  }

h1
{
  margin: 0;
  padding: 0;
  }

#content h2
{
  font-size: 2em;
  text-align: center;
  padding: 0 0 .5ex;
  margin: O;
  }

#content h3
{
  margin: 1ex 0 .5ex;
  font-size: 1.05em;
  }

