//-*- css -*-

@import "lib";

#document.citation {
    background-image: url("illustrations/portrait-bp.png");
    background-position: 5% 10em;
    background-size: 12% auto;
    background-repeat: no-repeat;

    form {
	@include minipage;
    }

    .section.citation {
	@include minipage;
	@include message;

	p.citation {
	    white-space: pre-wrap;
	}
    }
}
