/*-*- css -*-*/

@import "common";

#document.citation {

    li {
	list-style-type: none;
    }

    .section.citation
    {
	position: relative;
    }

    form
    {
	@include minipage;
    }

    .section.citation
    {
	@include minipage;

	padding: 1ex;
	margin: 2pt auto;
	background-color: $alt_background;

	.auteur {
	    float: left;
	    margin: 1ex;
	    font-weight: bold;
	}
    }
}
