body
{
  font-family: "Deja Vu Sans",sans-serif;
  font-size: 10pt;
  color: black;
  margin: 0;
  }

.h, th,
h2, h3, h4, h5, h6
{
  color: #615230;
  }

a
{
  color: #615230;
  }

h1
{
  font-size: 1.35em;
  }

h2
{
  font-size: 1.30em;
  }

h3
{
  font-size: 1.25em;
  }

h4
{
  font-size: 1.20em;
  }

h5
{
  font-size: 1.15em;
  }

h6
{
  font-size: 1.10em;
  }

p
{
  text-align: justify;
  }

ul
{
  list-style-type: disc;
  }

#content div.section
{
  margin-left: 1em;
  }

#footer
{
  color: #AAA;
  }

img
{
  }