/*-*- css -*-*/

@import "lib";

@font-face {
    font-family: "Old Newspaper Types";
    src: url("OldNewspaperTypes.ttf");
}

body
{
    font-family: "Deja Vu Sans",sans-serif;
    color: black;
    background: $page_background;
}

.h, th,
h2, h3, h4, h5, h6
{
    color: $highlight_color;
}

h1
{
    @include headfont;
    font-size: 1.40em;
}

h2
{
    font-size: 1.30em;
}

h3
{
    font-size: 1.25em;
}

h4
{
    font-size: 1.20em;
}

h5
{
    font-size: 1.15em;
}

h6
{
    font-size: 1.10em;
}

p
{
    text-align: justify;
}

ul
{
    list-style-type: disc;
}

a {
    color: darken($highlight_color, 10%);
    text-decoration: none;

    &:hover, &:visited
    {
	color: darken($highlight_color, 10%);
    }

    &:hover
    {
	text-decoration: underline;
    }
}

#header
{
    background-repeat: no-repeat;
    background-position: 96% center;

    &.suf
    {
	background-image: url("mouvements/suf.png");
    }

    &.fse
    {
	background-image: url("mouvements/fse.png");
    }

    &.europa
    {
	background-image: url("mouvements/europa.png");
    }
}

#document
{
    position: relative;

    #flash {
	font-size: 105%;
	background-position: 1em .75em;

	.message {
	    height: 3em;
	    line-height: 3em;
	    margin: 0;
	    font-weight: bold;
	    text-align: center;
	}

	.detail {
	    margin: 0;
	}
    }

    & > div.dialog {
	width: 30em;
	margin: 8em auto;
	background: lighten($page_background, 22%);
	box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	border-radius: 1ex;

	.h {
	    text-align: center;
	    margin: 1ex;
	    font-size: 140%;
	}

	&.info {
	    color: $info;
	    background-color: $info_bg;
	    background-image: url("dialog/information.png");
	    background-position: 1ex .72ex;
	    background-repeat: no-repeat;
	}

	&.error {
	    color: $warn;
	    background-color: $warn_bg;
	    background-image: url("dialog/attention.png");
	    background-position: 1em 1em;
	    background-repeat: no-repeat;

	    #aide {
		font-size: 120%;
		width: 90%;
		margin: 0 auto;
	    }

	    #details {
		display: none;
	    }

	    &.showtrace {
		width: 80%;

		.h {
		    margin-left: 48px;
		    text-align: left;
		}

		#details {
		    display: block;

		    > .h {
			font-size: 1em;
			text-align: right;
			cursor: pointer;
			color: lighten($highlight_color, 10%);
		    }

		    > * + * {
			display: none;
		    }

		    &:hover > *,
		    &:active > *
		    {
			display: block;
		    }
		}
	    }
	}
    }
}

#footer
{
    color: $highlight_color;
}

.empty
{
    text-align: center;
    height: 16em;
    line-height: 16em;
    color: #7f7d73;

    &.image {
	outline: 1px dashed black;
	border-radius: .1ex;
	padding: 1ex;
	margin: 1ex;
    }
}


.signature {
    text-align: right;
    font-style: italic;
}

@media screen {
    #header {
	& > .h
	{
	    font-size: 3em;
	    @include headfont;
	    text-shadow: 1pt 1pt 2pt rgba(250, 251, 248, .75);

	    a
	    {
		color: inherit;
		text-decoration: inherit;
	    }
	}
    }

    #document {
	background-color: $content_background;
	border-style: solid;
	border-color: $highlight_color;
	border-radius: 1ex;
	min-height: 50em;

	& > h1 {
	    position: absolute;
	    top: 0;
	    left: 0;
	    font-size: 150%;
	    border-radius: 0 0 2em 0;
	    padding: 1ex 5em 1ex 1em;
	    margin: 0;
	    background: $highlight_color;
	    color: $content_background;

	    a {
		color: inherit !important;
	    }
	}
    }

    #admin {
	ul {
	    -webkit-transition-property: max-height;
	    -webkit-transition-duration: 1s;
	    -webkit-transition-timing-function: ease-out;
	    -webkit-transition-delay: .25s;
	    transition-property: max-height;
	    transition-duration: 1s;
	    transition-timing-function: ease-out;
	    transition-delay: .25s;
	    max-height: 4.5em;
	    overflow: hidden;
	}

	&:hover ul {
	    max-height: 30em;
	}
    }

    :hover > ul.adminlinks
    {
	visibility: visible;
    }

    a.adminlink {
	@include adminlink;
    }

    td a.adminlink {
	font-size: 80%;
	padding: .25ex 1ex;
    }

    ul.adminlinks {
	position: absolute;
	top: -.5ex;
	right: 0;
	margin: 0;
	display: block;
	text-align: right;
	visibility: hidden;

	li {
	    display: inline-block;
	    margin: 0 .5ex;

	    a {
		@include adminlink;
	    }
	}
    }

    .pages.links
    {
	margin: 1ex;
	text-align: center;
	clear: both;
    }

    .pages.links li
    {
	list-style: none;
	margin: 1ex;
	display: inline;
    }

    .pages.links .current a
    {
	color: black;
	text-decoration: none;
	font-weight: bold;
    }

    #aside
    {
	padding-top: 2em;
	padding-bottom: 4em;

	.section
	{
	    .h, a {
		font-size: 125%;
	    }

	    .h
	    {
		text-align: right;
		@include headfont;
		font-size: 1.4em;
		margin: 0;
		padding: 1ex;
		color: lighten($content_background, 10%);
		background: $highlight_color;

		a
		{
		    color: inherit;
		    text-decoration: inherit;
		    font-size: inherit;
		}
	    }

	    & > * + *
	    {
		margin-left: 1ex;
	    }

	    ul
	    {
		padding-left: 1ex;

		li
		{
		    list-style-type: none;
		    background-repeat: no-repeat;
		    background-position: left center;
		    background-size: auto 80%;

		    a {
			display: inline-block;
			padding: .5ex 0 .5ex 2.5em;
			vertical-align: middle;
			width: 100%;
			height: 1.5em;
			line-height: 1.5em;

			&:hover {
			    text-shadow: 1pt 1pt 10pt rgba(50, 51, 48, .25);
			}
		    }
		}
	    }
	}
    }

    /* BRANCHE */
    #branche
    {
	font-size: 9pt !important;

	/* branche a un traitement *très* spéciale, on réinitialise tout */
	*
	{
	    position: static !important;
	    top: 0 !important;
	    margin: 0 !important;
	    display: inline !important;
	    padding: 0 !important;
	    background: none !important;
	}

	.h
	{
	    text-align: left;
	    font-size: inherit;
	    color: #483005 !important;
	}

	li + li:before
	{
	    content: "/";
	    margin: 0 1ex;
	    color: $highlight_color;
	}
    }


    #aside li.current a
    {
	color: black;
	text-decoration: none;
	font-weight: bold;
    }

    /* CONSOLE */
    #console, #login {
	& > .h
	{
	    margin-bottom: 0;
	}

	div.section
	{
	    margin: 0 0 0 1em;
	    padding: 0;

	    .h
	    {
		font-size: 1.05em;
		margin: 0;
		padding: 0;
	    }
	}

	form {
	    margin: 0;

	    .buttonbox {
		padding: 1ex;
		display: block;
	    }
	}
    }

    /* ICÔNES */
    #menu li:first-child
    {
	background-image: url("icones/home.png");
    }

    #aside li.unites,
    #aside li.membres
    {
	background-image: url("icones/customers.png");
    }

    #aside li.activites
    {
	background-image: url("icones/date.png");
    }

    #aside li.photos
    {
	background-image: url("icones/photography.png");
    }

    #aside li.journaux
    {
	background-image: url("icones/feed.png");
    }

    #aside li.documents
    {
	background-image: url("icones/library.png");
    }

    #aside li.liens
    {
	background-image: url("icones/world.png");
    }

    #connexes li.rapports,
    #aside li.livredor,
    #aside li.citation,
    #aside li.ecrire
    {
	background-image: url("icones/pen.png");
    }


    #login li.inscription,
    #console li.inscriptions
    {
	background-image: url("icones/plus.png");
    }

    #admin li.individu,
    #console li.fiche,
    #admin li.fiche
    {
	background-image: url("icones/user.png");
    }

    #admin li.fermer
    {
	background-image: url("icones/lock.png");
    }

    #login li + li
    {
	background-image: url("icones/login.png");
    }

    /* ADMIN */
    #admin li.prevoir,
    #admin li.fonder,
    #admin li.inscrire,
    #admin li.citation.enregistrer
    {
	background-image: url("icones/plus.png");
    }

    #admin li.administrer,
    #aside li.admin
    {
	background-image: url("icones/settings.png");
    }

    #aside li.parametres
    {
	background-image: url("icones/config.png");
    }

    #admin li.editer
    {
	background-image: url("icones/pencil.png");
    }

    #admin li.annuler,
    #admin li.supprimer,
    #admin li.desinscrire
    {
	background-image: url("icones/supprimer.png");
    }

    #connexes li.archives
    {
	background-image: url("icones/old-versions.png");
    }

    /* FORMATS */
    #formats li.rss,
    #formats li.atom
    {
	background-image: url("icones/feed.png");
    }

    #formats li.vcf
    {
	background-image: url("icones/my-account.png");
    }

    #formats li.ics
    {
	background-image: url("icones/date.png");
    }

    #formats li.csv
    {
	background-image: url("icones/database.png");
    }


    /* citation */
    #citation .signature
    {
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
	text-align: right;
    }


    /* Historique */
    #historique.pagelinks
    {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	background: lighten($alt_background, 10%);
	border-radius: 1ex;
	padding: 1ex;
	margin: 5em 3em 3em;

	.h
	{
	    @include headfont;
	    width: 100%;
	    font-size: 1.5ex;
	    margin-top: 0;
	}

	div.section
	{
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    display: inline-block;
	    vertical-align: top;
	    width: 32.5%;
	    min-width: 16em;
	    max-width: 22em;
	    padding: 1ex 2em;
	    margin: 0;

	    .h {
		margin-bottom: .5ex;
	    }
	}

	ul
	{
	    display: block;
	    margin: 0;
	    padding: 0;

	    li {
		display: inline-block;
		margin: .5ex;
	    }
	}

	a {
	    color: inherit !important;
	}

	.selectionnee a
	{
	    font-weight: bold;
	    text-decoration: none;
	    color: black;
	}
    }

    /* Glisser-déposer */
    .dojoDndItem
    {
	cursor: pointer;
    }

    .dojoDndItemBefore,
    .dojoDndItemBefore td
    {
	border-top: 2px solid red;
    }

    .dojoDndItemAfter,
    .dojoDndItemAfter td
    {
	border-bottom: 2px solid red;
    }

    .dojoDndAvatar
    {
	moz-opacity: .75;
    }
}

@media print {
    html, body
    {
	font-size: 9pt;
	font-family: serif;
	background: white;
	color: black;
    }

    body {
	background-repeat: no-repeat;
	background-position: 100% top;
	background-size: 6em 6em;

	&.suf {
	    background-image: url("mouvements/suf.png");
	}

	&.fse {
	    background-image: url("mouvements/fse.png");
	}

	&.europa {
	    background-image: url("mouvements/europa.png");
	}
    }

    .h,
    h3, h4, h5, h6
    {
	margin-bottom: 0;
    }

    a
    {
	color: inherit;
	text-decoration: none;
    }

    p
    {
	margin-top: 0;
    }

    #document {
	h1
	{
	    border-bottom: 1pt solid $highlight_color;
	}
    }
}
