/*-*- css -*-*/

body
{
  font-family: "Deja Vu Sans",sans-serif;
  font-size: 10pt;
  color: black;
  margin: 0;
  }

.h, th,
h2, h3, h4, h5, h6
{
  color: #615230;
  }

a
{
  color: #615230;
  }

h1
{
  font-size: 1.35em;
  }

h2
{
  font-size: 1.30em;
  }

h3
{
  font-size: 1.25em;
  }

h4
{
  font-size: 1.20em;
  }

h5
{
  font-size: 1.15em;
  }

h6
{
  font-size: 1.10em;
  }

p
{
  text-align: justify;
  }

ul
{
  list-style-type: disc;
  }

#content div.section
{
  margin-left: 1em;
  }

#footer
{
  color: #AAA;
  }

img
{
  }


*:hover > ul.adminlinks {
    visibility: visible;
}

ul.adminlinks {
    position: absolute;
    top: -.5ex;
    right: 0;
    margin: 0;
    display: block;
    text-align: right;
    visibility: hidden;
    
    li {
	display: inline-block;
	box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	border-radius: 1ex;
	margin: 0 .5ex;
	
	a {
	    display: block;
	    background: #d6d2c1;
	    padding: 1ex;
	    border-radius: 1ex;
	}
    }
}
