/*-*- css -*-*/

@import "common";

body
{
  font-family: "Deja Vu Sans",sans-serif;
  font-size: 10pt;
  color: black;
  }

.h, th,
h2, h3, h4, h5, h6
{
  color: $highlight_color;
  }

a
{
  color: $highlight_color;
  }

h1
{
  font-size: 1.35em;
  }

h2
{
  font-size: 1.30em;
  }

h3
{
  font-size: 1.25em;
  }

h4
{
  font-size: 1.20em;
  }

h5
{
  font-size: 1.15em;
  }

h6
{
  font-size: 1.10em;
  }

p
{
  text-align: justify;
  }

ul
{
  list-style-type: disc;
  }

#content div.section
{
  margin-left: 1em;
  }


*:hover > ul.adminlinks {
    visibility: visible;
}

@mixin adminlink {
    display: inline-block;
    background: $page_background;
    padding: .5ex 1em;
    border-radius: 1ex;
    box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);

    &.critical {
	background: $critical_bg;
    }
}

a.adminlink {
    @include adminlink;
}

td.adminlinks a.adminlink {
    font-size: 90%;
}

ul.adminlinks {
    position: absolute;
    top: -.5ex;
    right: 0;
    margin: 0;
    display: block;
    text-align: right;
    visibility: hidden;

    li {
	display: inline-block;
	margin: 0 .5ex;

	a {
	    @include adminlink;
	}
    }
}

@media screen {
    body
    {
	background: $page_background;
    }

    a:hover, a:visited
    {
	color: #223300;
    }

    a:hover
    {
	text-decoration: none;
    }

    #header
    {
	background-repeat: no-repeat;
	background-position: 96% center;

	&.suf
	{
	    background-image: url("mouvements/suf.png");
	}

	&.fse
	{
	    background-image: url("mouvements/fse.png");
	}

	&.europa
	{
	    background-image: url("mouvements/europa.png");
	}

	& > .h
	{
	    font-size: 3em;
	    font-family: serif;
	    text-shadow: 1pt 1pt 2pt rgba(250, 251, 248, .75),
	    1pt 1pt 4pt rgba(50, 51, 48, .75);

	    a
	    {
		color: inherit;
		text-decoration: inherit;
	    }
	}
    }

    #document
    {
	position: relative;
	background-color: $content_background;
	border-style: solid;
	border-color: $highlight_color;
	border-radius: 1ex;
	overflow: hidden;

	& > h1 {
	    font-size: 150%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    border-radius: 0 0 2em 0;
	    padding: 1ex 5em 1ex 1em;
	    background: $highlight_color;
	    color: $content_background;

	    a {
		color: inherit !important;
	    }
	}

	#flash {
	    font-size: 105%;
	    background-position: 1em .75em;

	    .message {
		height: 3em;
		line-height: 3em;
		margin: 0;
		font-weight: bold;
		text-align: center;
	    }

	    .detail {
		margin: 0;
	    }
	}

	& > div.dialog {
	    width: 30em;
	    margin: 8em auto;
	    padding: 1ex;
	    background: lighten($page_background, 22%);
	    box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	    border-radius: 1ex;

	    .h {
		text-align: center;
		margin: 1ex;
	    }

	    &.info {
		color: $info;
		background-color: $info_bg;
		background-image: url("icones/information.png");
		background-position: 1ex .72ex;
		background-repeat: no-repeat;
	    }

	    &.error {
		color: $warn;
		background-color: $warn_bg;
		background-image: url("icones/attention.png");
		background-position: 1em 1em;
		background-repeat: no-repeat;

		.h {
		    font-size: 140%;
		}

		#aide {
		    font-size: 120%;
		    width: 90%;
		    margin: 0 auto;
		}

		#details {
		    display: none;
		}

		&.showtrace {
		    width: 80%;

		    .h {
			margin-left: 48px;
			text-align: left;
		    }

		    #details {
			display: block;

			> .h {
			    font-size: 1em;
			    text-align: right;
			    cursor: pointer;
			    color: lighten($highlight_color, 10%);
			}

			> * + * {
			    display: none;
			}

			&:hover > *,
			&:active > *
			{
			    display: block;
			}
		    }
		}
	    }
	}
    }

    #aside
    {
	padding-top: 2em;
	padding-bottom: 4em;

	.section
	{
	    .h, a {
		font-size: 115%;
	    }

	    .h
	    {
		text-align: right;
		font-size: 1.2em;
		margin: 0;
		padding: 1ex;
		color: lighten($content_background, 10%);
		background: $highlight_color;

		a
		{
		    color: inherit;
		    text-decoration: inherit;
		    font-size: inherit;
		}
	    }

	    & > * + *
	    {
		margin-left: 1ex;
	    }

	    ul
	    {
		padding-left: 1ex;

		li
		{
		    list-style-type: none;
		    background-repeat: no-repeat;
		    background-position: left center;

		    a {
			display: inline-block;
			padding: .5ex 0 .5ex 2.5em;
			vertical-align: middle;
			width: 100%;
			height: 1.5em;
			line-height: 1.5em;

			&:hover {
			    text-shadow: 1pt 1pt 10pt rgba(50, 51, 48, .5);
			}
		    }
		}
	    }
	}
    }

    /* BRANCHE */
    #branche
    {
	font-size: 9pt !important;

	/* branche a un traitement *très* spéciale, on réinitialise tout */
	*
	{
	    position: static !important;
	    top: 0 !important;
	    margin: 0 !important;
	    display: inline !important;
	    padding: 0 !important;
	    background: none !important;
	}

	.h
	{
	    text-align: left;
	    font-size: inherit;
	    color: #483005 !important;
	}

	li + li:before
	{
	    content: "/";
	    margin: 0 1ex;
	    color: $highlight_color;
	}
    }


    #menu li.current a
    {
	color: black;
	text-decoration: none;
	font-weight: bold;
    }

    /* CONSOLE */
    #console, #login {
	& > .h
	{
	    margin-bottom: 0;
	}

	div.section
	{
	    margin: 0 0 0 1em;
	    padding: 0;

	    .h
	    {
		font-size: 1.05em;
		margin: 0;
		padding: 0;
	    }
	}

	form {
	    margin: 0;

	    .buttonbox {
		padding: 1ex;
		display: block;
	    }
	}
    }

    #footer
    {
	color: $highlight_color;
    }

    /* ICÔNES */

    #menu li.index
    {
	background-image: url("icones/accueil.png");
    }

    #aside li.unites,
    #aside li.membres
    {
	background-image: url("icones/effectifs.png");
    }

    #connexes li.contacts
    {
	background-image: url("icones/carnet.png");
    }

    #aside li.activites
    {
	background-image: url("icones/activites.png");
    }

    #aside li.photos
    {
	background-image: url("icones/photos.png");
    }

    #aside li.journaux
    {
	background-image: url("icones/journaux.png");
    }

    #aside li.documents
    {
	background-image: url("icones/documents.png");
    }

    #aside li.liens
    {
	background-image: url("icones/liens.png");
    }

    #connexes li.rapports,
    #aside li.livredor
    {
	background-image: url("icones/livredor.png");
    }

    #aside li.citation
    {
	background-image: url("icones/citation.png");
    }

    #login li.inscription,
    #actions li.inscrire,
    #console li.inscriptions
    {
	background-image: url("icones/inscription.png");
    }

    #console li.fiche,
    #actions li.fiche
    {
	background-image: url("icones/individu.png");
    }

    #actions li.fermer
    {
	background-image: url("icones/fermer.png");
    }

    #login li + li
    {
	background-image: url("icones/verrou.png");
    }

    /* ADMIN */
    #admin li.configurer,
    #admin li.administrer,
    #aside li.admin
    {
	background-image: url("icones/config.png");
    }

    #admin li.editer,
    #admin li.modifier,
    #admin li.reporter,
    #aside li.parametres
    {
	background-image: url("icones/editer.png");
    }

    #admin li.annuler,
    #admin li.supprimer,
    #admin li.desinscrire
    {
	background-image: url("icones/supprimer.png");
    }

    #connexes li.anciens,
    #connexes li.anciennes,
    #admin li.historique
    {
	background-image: url("icones/historique.png");
    }

    #aside li.prevoir
    {
	background-image: url("icones/prevoir.png");
    }


    /* FORMATS */
    #formats li.rss,
    #formats li.atom
    {
	background-image: url("icones/flux.png");
    }

    #formats li.vcf
    {
	background-image: url("icones/carnet.png");
    }

    #formats li.ics
    {
	background-image: url("icones/activites.png");
    }

    #formats li.ods,
    #formats li.csv
    {
	background-image: url("icones/tableur.png");
    }


    /* citation */
    #citation .signature
    {
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
	text-align: right;
    }


    /* Historique */
    #historique.pagelinks
    {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: stretch;
    }

    #historique.pagelinks .h
    {
	width: 100%;
	font-size: 1.75ex;
    }

    #historique.pagelinks div.section
    {
	width: 29%;
	margin: 0 2%;
    }

    #historique.pagelinks div.section .h
    {
	margin-bottom: .5ex;
    }

    #historique.pagelinks ul
    {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
    }

    #historique.pagelinks li
    {
	display: inline-block;
	margin: .5ex;
    }

    #historique.pagelinks .selectionnee a
    {
	font-weight: bold;
	text-decoration: none;
	color: black;
    }


    #document .empty
    {
	text-align: center;
	height: 16em;
	line-height: 16em;
	color: #7f7d73;

	&.image {
	    outline: 1px dashed black;
	    border-radius: .1ex;
	    padding: 1ex;
	    margin: 1ex;
	}
    }

    /* Glisser-déposer */
    .dojoDndItem
    {
	cursor: pointer;
    }

    .dojoDndItemBefore,
    .dojoDndItemBefore td
    {
	border-top: 2px solid red;
    }

    .dojoDndItemAfter,
    .dojoDndItemAfter td
    {
	border-bottom: 2px solid red;
    }

    .dojoDndAvatar
    {
	moz-opacity: .75;
    }
}

@media print {
    html, body
    {
	font-size: 9pt;
	font-family: serif;
	background: white;
	color: black;
    }

    #footer
    {
	color: #004400;
    }

    #footer .logo
    {
	border: none;
    }

    #document h1
    {
	font-size: 1.6em !important;
	font-weight: normal;
    }

    a
    {
	color: inherit;
	text-decoration: none;
    }

    .h,
    h3, h4, h5, h6
    {
	margin-bottom: 0;
    }

    p
    {
	margin-top: 0;
    }

    #historique
    {
	display: none;
    }

}
