
#webaddons li
{
    list-style: square;
    list-style-image: none;
}

#content
{
    background-image: none;
}

#branche li
{
    margin: 1ex !important;
}

#navigateurs
{
    background-image: url("icones/surprise.png");
    background-position: center 2.5em;
    background-repeat: no-repeat;
}

#navigateurs .h
{
    margin-bottom: 2em;
}
