/*-*- css -*-*/

@import "common";

body
{
  font-family: "Deja Vu Sans",sans-serif;
  font-size: 10pt;
  color: black;
  }

.h, th,
h2, h3, h4, h5, h6
{
  color: $highlight_color;
  }

a
{
  color: $highlight_color;
  }

h1
{
  font-size: 1.35em;
  }

h2
{
  font-size: 1.30em;
  }

h3
{
  font-size: 1.25em;
  }

h4
{
  font-size: 1.20em;
  }

h5
{
  font-size: 1.15em;
  }

h6
{
  font-size: 1.10em;
  }

p
{
  text-align: justify;
  }

ul
{
  list-style-type: disc;
  }

#content div.section
{
  margin-left: 1em;
  }

#footer
{
  color: #AAA;
  }

img
{
  }


*:hover > ul.adminlinks {
    visibility: visible;
}

ul.adminlinks {
    position: absolute;
    top: -.5ex;
    right: 0;
    margin: 0;
    display: block;
    text-align: right;
    visibility: hidden;

    li {
	display: inline-block;
	box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	border-radius: 1ex;
	margin: 0 .5ex;

	a {
	    display: block;
	    background: $page_background;
	    padding: 1ex;
	    border-radius: 1ex;

	    &.critical {
		background: $critical_bg;
	    }
	}
    }
}

@media screen {
    body
    {
	background: $page_background;
    }

    a:hover, a:visited
    {
	color: #223300;
    }

    a:hover
    {
	text-decoration: none;
    }

    #header
    {
	background-repeat: no-repeat;
	background-position: 96% center;
    }

    #header.suf
    {
	background-image: url("mouvements/suf.png");
    }

    #header.fse
    {
	background-image: url("mouvements/fse.png");
    }

    #header.europa
    {
	background-image: url("mouvements/europa.png");
    }

    #header .h
    {
	font-size: 3em;
	font-family: serif;
    }

    #header .h a
    {
	color: inherit;
	text-decoration: inherit;
	text-shadow: 1pt 1pt 2pt rgba(250, 251, 248, .75),
	1pt 1pt 4pt rgba(50, 51, 48, .75);
    }

    #document
    {
	background-color: $content_background;
	border-style: solid;
	border-color: #615230;
	border-radius: 1ex;

	h1 {
	    padding-top: 0;
	    margin-bottom: 1em;
	}

	#flash {
	    font-weight: bold;
	    font-size: 105%;
	    text-align: center;
	    height: 3em;
	    line-height: 3em;
	    background-position: 1ex center;
	}

	& > div.dialog {
	    width: 40ex;
	    margin: 5em auto;
	    padding: 1ex;
	    background: lighten($page_background, 22%);

	    box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	    border-radius: 1ex;

	    .h {
		margin: 1ex;
	    }

	    &.info {
		color: $info;
		background-color: $info_bg;
		background-image: url("icones/information.png");
		background-position: 1ex .72ex;
		background-repeat: no-repeat;
	    }

	    &.error {
		.details {
		    display: none;
		}

		&.showtrace {
		    width: 80%;

		    .details {
			display: block;

			> .h {
			    font-size: 1em;
			    text-align: right;
			    cursor: pointer;
			    color: lighten($highlight_color, 10%);
			}

			> * + * {
			    display: none;
			}

			&:hover > * {
			    display: block;
			}
		    }
		}
	    }
	}
    }

    #footer
    {
	color: #0a0905;
    }

    #aside
    {
	padding-top: 2em;
	background-position: bottom left;
	background-repeat: no-repeat;
    }

    #aside > .section > .h
    {
	text-align: right;
	font-size: 1.1em;
	margin: 0;
	padding: 1ex;
	color: #F2EDE4;
	background: #615230;
    }

    #aside > .section > * + *
    {
	margin-left: 1ex;
    }

    #aside > .section > .h a
    {
	color: inherit;
	text-decoration: inherit;
    }

    #aside .section li a
    {
	display: block;
	padding: 0;
	/* pour éviter la barre de défilement lorsque le lien est cliqué */
	margin-right: 2px;
    }

    #aside .section ul
    {
	padding-left: 0;
    }

    #aside .section li
    {
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: left center;
	padding: .5ex 0 .5ex 2.5em;
    }

    /* BRANCHE */
    #branche
    {
	font-size: 9pt !important;
    }

    /* branche a un traitement *très* spéciale, on réinitialise tout */
    #branche *
    {
	position: static !important;
	top: 0 !important;
	margin: 0 !important;
	display: inline !important;
	padding: 0 !important;
	background: none !important;
    }

    #branche .h
    {
	text-align: left;
	font-size: inherit;
	color: #483005 !important;
    }

    #branche li + li:before
    {
	content: "/";
	margin: 0 1ex;
	color: #483005;
    }


    #menu li.current a
    {
	color: black;
	text-decoration: none;
	font-weight: bold;
    }

    /* CONSOLE */
    #console > .h
    {
	margin-bottom: 0;
    }

    #console div.section
    {
	margin: 0 0 0 1em;
	padding: 0;
    }

    #console .section .h
    {
	font-size: 1.05em;
	margin: 0;
	padding: 0;
    }

    /* ICÔNES */

    #menu li.index
    {
	background-image: url("icones/accueil.png");
    }

    #aside li.unites,
    #aside li.membres
    {
	background-image: url("icones/effectifs.png");
    }

    #connexes li.contacts
    {
	background-image: url("icones/carnet.png");
    }

    #connexes li.progression
    {
	background-image: url("icones/individus.png");
    }

    #aside li.activites,
    #formats li.ics
    {
	background-image: url("icones/activites.png");
    }

    #formats li.ods,
    #formats li.csv
    {
	background-image: url("icones/tableur.png");
    }

    #aside li.photos
    {
	background-image: url("icones/photos.png");
    }

    #aside li.journaux
    {
	background-image: url("icones/journaux.png");
    }

    #menu li.documents
    {
	background-image: url("icones/documents.png");
    }

    #menu li.liens
    {
	background-image: url("icones/liens.png");
    }

    #connexes li.rapports,
    #menu li.livredor
    {
	background-image: url("icones/livredor.png");
    }

    #login li.inscription,
    #actions li.inscrire,
    #console li.inscriptions
    {
	background-image: url("icones/inscription.png");
    }

    #console li.fiche,
    #actions li.fiche
    {
	background-image: url("icones/individu.png");
    }

    #actions li.fermer
    {
	background-image: url("icones/fermer.png");
    }

    #aside li.progression
    {
	background-image: url("icones/progression.png");
    }

    #aside li.formation
    {
	background-image: url("icones/diplome.png");
    }

    #console li.parametres
    {
	background-image: url("icones/editer.png");
    }

    #login li + li
    {
	background-image: url("icones/verrou.png");
    }

    /* ACTIONS */
    #actions li.editer,
    #actions li.modifier,
    #actions li.reporter
    {
	background-image: url("icones/editer.png");
    }

    #actions li.configurer,
    #actions li.administrer
    {
	background-image: url("icones/config.png");
    }

    #actions li.annuler,
    #actions li.supprimer,
    #actions li.detruire,
    #actions li.desinscrire
    {
	background-image: url("icones/supprimer.png");
    }

    #connexes li.anciens,
    #connexes li.anciennes,
    #actions li.historique
    {
	background-image: url("icones/historique.png");
    }

    #menu li.statiques
    {
	background-image: url("icones/contacts.png");
    }

    #aside li.citation
    {
	background-image: url("icones/citation.png");
    }

    #aside li.prevoir
    {
	background-image: url("icones/prevoir.png");
    }


    /* FORMATS */
    #formats li.rss,
    #formats li.atom
    {
	background-image: url("icones/flux.png");
    }

    #formats li.vcf
    {
	background-image: url("icones/carnet.png");
    }



    /* Glisser-déposer */
    .dojoDndItem
    {
	cursor: pointer;
    }

    .dojoDndItemBefore,
    .dojoDndItemBefore td
    {
	border-top: 2px solid red;
    }

    .dojoDndItemAfter,
    .dojoDndItemAfter td
    {
	border-bottom: 2px solid red;
    }

    .dojoDndAvatar
    {
	moz-opacity: .75;
    }

    /* citation */

    #citation .signature
    {
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
	text-align: right;
    }


    /* Historique */
    #historique.pagelinks
    {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: stretch;
    }

    #historique.pagelinks .h
    {
	width: 100%;
	font-size: 1.75ex;
    }

    #historique.pagelinks div.section
    {
	width: 29%;
	margin: 0 2%;
    }

    #historique.pagelinks div.section .h
    {
	margin-bottom: .5ex;
    }

    #historique.pagelinks ul
    {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
    }

    #historique.pagelinks li
    {
	display: inline-block;
	margin: .5ex;
    }

    #historique.pagelinks .selectionnee a
    {
	font-weight: bold;
	text-decoration: none;
	color: black;
    }


    #document .empty
    {
	text-align: center;
	height: 16em;
	line-height: 16em;
	color: #7f7d73;

	&.image {
	    outline: 1px dashed black;
	    border-radius: .1ex;
	    padding: 1ex;
	    margin: 1ex;
	}
    }
}

@media print {
    html, body
    {
	font-size: 9pt;
	font-family: serif;
	background: white;
	color: black;
    }

    #footer
    {
	color: #004400;
    }

    #footer .logo
    {
	border: none;
    }

    #document h1
    {
	font-size: 1.6em !important;
	font-weight: normal;
    }

    a
    {
	color: inherit;
	text-decoration: none;
    }

    .h,
    h3, h4, h5, h6
    {
	margin-bottom: 0;
    }

    p
    {
	margin-top: 0;
    }

    #historique
    {
	display: none;
    }

}
