/*-*- css -*-*/

$highlight_color: #615230;
$page_background: #D6C996;
$content_background: #FAFBF8;
$alt_background: #B8BFAE;
$error: #750000;
$info: #3F4C20;
$info_bg: #A0BF6B;
$warn_bg: #EEDC83;
$critical: $error;
$critical_bg: #D6968B;
