/*-*- css -*-*/

@import "lib";

@font-face {
    font-family: "Old Newspaper Types";
    src: url("OldNewspaperTypes.ttf");
}

body {
    font-family: "Liberation Sans", "Deja Vu Sans", sans-serif;
    color: black;
    background: $page_background;
}

.h, th, h2, h3, h4, h5, h6
{
    color: $highlight_color;
}

.h {
    @include headfont;
    margin-top: 1em;
    margin-bottom: 1ex;
}

h1 {
    font-size: 1.40em;
}

h2 {
    font-size: 1.30em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.20em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1.10em;
}

p {
    text-align: justify;
    margin: 0 0 1ex;
}

ul {
    list-style-type: disc;
}

a {
    color: $highlight_color;
    text-decoration: none;

    &:hover, &:visited
    {
	color: $highlight_color;
    }

    &:hover
    {
	text-decoration: underline;
    }
}

.development #body {
    background: url("illustrations/travaux.png") 4% top no-repeat;
    background-size: auto .7 * $taille_logo;
}

#header {
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: $taille_logo auto;

    &.suf {
    	background-image: url("mouvements/suf.png");
    }

    &.fse {
    	background-image: url("mouvements/fse.png");
    }

    &.europa {
    	background-image: url("mouvements/europa.png");
    }
}

#document {
    position: relative;

    h1 {
	@include headfont;
    }

    #flash {
	font-size: 105%;
	background-position: 1em .75em;

	.message {
	    height: 3em;
	    line-height: 3em;
	    margin: 0;
	    font-weight: bold;
	    text-align: center;
	}

	.detail {
	    margin: 0;
	}
    }

    &.error {
	background-image: url("illustrations/accident.png");
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto 20em;
	padding-bottom: 25em;

	&.http-404 {
	    background-image: url("illustrations/perdu.png");
	}

	&.http-403, &.http-401 {
	    background-image: url("illustrations/commissaire.png");
	    background-size: auto 28em;
	    padding-bottom: 30em;
	}

	&.http-200 {
	    background-image: none;
	}
    }

    &.maintenance {
	background-image: url("illustrations/froissartage.png");
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto 20em;
	padding-bottom: 25em;
    }

    div.dialog {
	&.info, &.warn, &.error {
	    & > *:first-child {
		padding-left: 48px;
	    }
	}

	&.info {
	    color: $info;
	    background-image: url("ui/information.png");
	    background-position: 1ex .72ex;
	    background-repeat: no-repeat;
	}

	&.warn, &.error {
	    color: $warn;
	    background-image: url("ui/attention.png");
	    background-position: 1em 1em;
	    background-repeat: no-repeat;

	    #aide {
		font-size: 120%;
		width: 90%;
		margin: 0 auto;
	    }

	    #details {
		display: none;
	    }
	}
    }
}

.empty
{
    text-align: center;
    height: 16em;
    line-height: 16em;
    color: #7f7d73;

    &.image {
	border: 1pt dashed black;
	padding: 1ex;
	margin: 1ex;
    }
}

#statique {
    @include minipage;
}

.signature {
    text-align: right;
    font-style: italic;
}

@media screen {
    #header {
	& > .h {
	    @include headfont;
	    text-shadow: 1pt 1pt 2pt rgba(250, 251, 248, .75);

	    a {
		color: inherit;
		text-decoration: inherit;
	    }
	}
    }

    #document {
	background-color: $content_background;
	border-style: solid;
	border-color: $highlight_color;
	border-radius: 1ex;

	& > h1 {
	    position: absolute;
	    top: 0;
	    left: 0;
	    font-size: 150%;
	    border-radius: 0 0 2em 0;
	    padding: 1ex 5em 1ex 1em;
	    margin: 0;
	    background: $highlight_color;
	    color: $content_background;

	    a {
		color: inherit !important;
	    }
	}

	div.dialog {
	    background: lighten($page_background, 22%);
	    box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	    border-radius: 1ex;

	    .h {
		text-align: center;
		margin: 1ex;
		font-size: 140%;
	    }

	    &.info {
		background-color: $info_bg;
	    }

	    &.warn, &.error {
		background-color: $warn_bg;

		&.showtrace {
		    width: 80%;
		    overflow-x: auto;

		    .h {
			margin-left: 48px;
			text-align: left;
		    }

		    #details {
			display: block;

			& > .h {
			    font-size: 1em;
			    text-align: right;
			    cursor: pointer;
			    color: lighten($highlight_color, 10%);
			}
		    }
		}
	    }
	}
    }

    /* Masquer la trace par défaut en prod */
    body.production #page #document #details {
	& > .error {
	    display: none;
	}

	&:hover > *,
	&:active > *
	{
	    display: block;
	}
    }

    #footer
    {
	color: $content_background;
	background-color: $highlight_color;
	background-image: url('illustrations/tente.png');
	background-position: bottom left;
	background-repeat: no-repeat;

	.h, .h a {
	    @include headfont;
	    color: $page_background;
	}

	li {
	    padding: .5ex 0;

	    a {
		color: inherit;
	    }
	}
    }

    #admin {
	ul {
	    transition: max-height 1s ease-out;
	    max-height: 4.5em;
	    overflow: hidden;

	    li + li + li {
		transition: opacity .5s ease-out .5s;
		opacity: 0;
	    }
	}

	&:hover ul {
	    max-height: 30em;
	    transition-delay: .25s;

	    li + li + li {
		opacity: 1;
		transition-delay: .25s;
	    }
	}
    }

    #citation {
	p {
	    font-size: 140%;
	    font-style: italic;
	    text-align: left;
	    white-space: pre-wrap;
	}

	.signature
	{
	    font-size: 0.8em;
	    font-weight: bold;
	    font-style: italic;
	    text-align: right;
	}
    }

    #aside
    {
	padding-top: 2em;
	padding-bottom: 4em;

	.section > * + * {
	    margin-left: 1ex;
	}

	.h, li a {
	    font-size: 130%;
	}

	.h {
	    @include headfont;
	    text-align: right;
	    margin: 0;
	    padding: 1ex;
	    max-height: 3em;
	    color: lighten($content_background, 10%);
	    background: $highlight_color;
	    white-space: nowrap;
	    overflow: hidden;

	    a {
		color: inherit;
		text-decoration: inherit;
		font-size: inherit;
	    }
	}

	li a {
	    padding: .5ex 0 .5ex 2.5em;
	    width: 100%;
	}

	li.current a {
	    color: black;
	    text-decoration: none;
	    font-weight: bold;
	}
    }

    #aside, #footer {
	ul {
	    padding-left: 1ex;

	    li {
		list-style-type: none;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: auto 80%;
		line-height: 1.5em;

		a {
		    display: inline-block;
		    vertical-align: middle;

		    &:hover {
			text-shadow: 1pt 1pt 10pt rgba(50, 51, 48, .25);
		    }
		}
	    }
	}
    }

    /* BRANCHE */
    #branche {
	font-size: 9pt !important;

	/* branche a un traitement *très* spéciale, on réinitialise tout */
	* {
	    position: static !important;
	    top: 0 !important;
	    margin: 0 !important;
	    display: inline !important;
	    padding: 0 !important;
	    background: none !important;
	}

	.h {
	    text-align: left;
	    font-size: inherit;
	    color: #483005 !important;
	}

	li + li:before {
	    content: "/";
	    margin: 0 1ex;
	    color: $highlight_color;
	}
    }

    /* CONSOLE */
    #console, #login {
	form {
	    margin: 0;

	    .buttonbox {
		padding: 1ex;
		display: block;
	    }
	}
    }

    /* ICÔNES */
    #aside {
	#login li + li {
    	    background-image: url("icones/login.png");
	}

	li.unites,
	li.membres
	{
	    background-image: url("icones/customers.png");
	}

	li.activites {
	    background-image: url("icones/date.png");
	}

	li.photos {
	    background-image: url("icones/photography.png");
	}

	li.journaux {
	    background-image: url("icones/feed.png");
	}

	li.documents {
	    background-image: url("icones/library.png");
	}

	li.liens {
	    background-image: url("icones/world.png");
	}

	li.rapports, li.livredor, li.citation, li.ecrire {
	    background-image: url("icones/pen.png");
	}

	li.inscription {
	    background-image: url("icones/plus.png");
	}

	li.individu, li.fiche {
	    background-image: url("icones/user.png");
	}

	li.print {
	    background-image: url("icones/print.png");
	}

	li.fermer {
	    background-image: url("icones/lock.png");
	}

	li.prevoir, li.fonder, li.inscrire, li.citation.enregistrer, li.envoyer
	{
	    background-image: url("icones/plus.png");
	}

	li.administrer, li.admin {
	    background-image: url("icones/settings.png");
	}

	li.parametres {
	    background-image: url("icones/config.png");
	}

	li.editer {
	    background-image: url("icones/pencil.png");
	}

	li.annuler, li.supprimer, li.desinscrire
	{
	    background-image: url("icones/supprimer.png");
	}

	li.archives {
	    background-image: url("icones/old-versions.png");
	}

	li.rss, li.atom {
	    background-image: url("icones/feed.png");
	}

	li.vcf {
	    background-image: url("icones/my-account.png");
	}

	li.ics {
	    background-image: url("icones/date.png");
	}

	li.csv {
	    background-image: url("icones/database.png");
	}
    }

    a.adminlink {
	@include adminlink;

	&.supprimer, &.admin, &.editer {
	    width: 0;
	    height: 0;
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-size: auto 70%;
	    background-position: center center;
	    padding: 1.75em 1.75em 0 0;
	}

	&.supprimer {
	    background-image: url("icones/supprimer.png");
	}

	&.admin {
	    background-image: url("icones/settings.png");
	}

	&.editer {
	    background-image: url("icones/pencil.png");
	}
    }

    td a.adminlink {
	font-size: 80%;
    }

    ul.adminlinks {
	position: absolute;
	top: -.5ex;
	right: 0;
	margin: 0;
	display: block;
	text-align: right;
	visibility: hidden;

	li {
	    display: inline-block;
	    margin: 0 .5ex;

	    a {
		@include adminlink;
		box-shadow: 2pt 4pt 1ex rgba(4, 4, 4, 0.5);
	    }
	}
    }

    :hover > ul.adminlinks {
	visibility: visible;
    }

    .pages.links {
	margin: 1ex;
	text-align: center;
	clear: both;

	li {
	    list-style: none;
	    margin: 1ex;
	    display: inline;

	    &.current a {
		color: black;
		text-decoration: none;
		font-weight: bold;
	    }
	}
    }

    /* Historique */
    #historique.pagelinks {
	clear: both;
	background: lighten($alt_background, 10%);
	border-radius: 1ex;
	padding: 1ex;
	margin: 5em 3em 3em;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;

	.h {
	    @include headfont;
	    width: 100%;
	    font-size: 1.5ex;
	    margin-top: 0;
	}

	div.section {
	    display: inline-block;
	    vertical-align: top;
	    width: 32.5%;
	    min-width: 16em;
	    max-width: 22em;
	    padding: 1ex 2em;
	    margin: 0;

	    .h {
		margin-bottom: .5ex;
	    }
	}

	ul {
	    display: flex;
	    flex-direction: row-reverse;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	    margin: 0;
	    padding: 0;

	    li {
		display: inline-block;
		margin: .5ex;
	    }
	}

	a {
	    color: inherit !important;
	}

	.selectionnee a
	{
	    font-weight: bold;
	    text-decoration: none;
	    color: black;
	}
    }

    /* Glisser-déposer */
    .dojoDndItem {
	cursor: pointer;
    }

    .dojoDndItemBefore,
    .dojoDndItemBefore td {
	border-top: 2px solid red;
    }

    .dojoDndItemAfter,
    .dojoDndItemAfter td {
	border-bottom: 2px solid red;
    }

    .dojoDndAvatar {
	-moz-opacity: .75;
	opacity: .75;
    }
}

@media print {
    html, body {
	font-size: 9pt;
	font-family: serif;
	background: white;
	color: black;
    }

    body {
	background-repeat: no-repeat;
	background-position: 100% top;
	background-size: 6em 6em;

	&.suf {
	    background-image: url("mouvements/suf.png");
	}

	&.fse {
	    background-image: url("mouvements/fse.png");
	}

	&.europa {
	    background-image: url("mouvements/europa.png");
	}
    }

    .h, h3, h4, h5, h6 {
	margin-bottom: 0;
    }

    a {
	color: inherit;
	text-decoration: none;
    }

    p {
	margin-top: 0;
    }

    div.dialog {
	font-size: 140%;
    }

    #footer #about .author {
	@include headfont;
	font-size: 1.5em;
	color: $highlight_color;
    }
}
