html
{
  background: #EAD382;
  }

body
{
  background-image: url("img/tissu-beige.png");
  background-position: top left;
  background-repeat: repeat-x;
  height: 500px;
  padding: 1ex 0;
  }

#document
{
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  height: 128px;
  background-image: url("img/promesse.png");
  background-position: 1em center;
  background-repeat: no-repeat;
  }

#content
{
  background-image: url("img/foulard.png");
  background-position: right 0;
  background-repeat: no-repeat;
  }

#footer .metas .organization
{
  background-image: url("img/bande-groupe.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  }


a:hover, a:visited
{
  color: #223300;
  }

a:hover
{
  text-decoration: none;
  }



#webaddons
{
  padding-top: 2em;
  background-position: bottom left;
  background-repeat: no-repeat;
  }

#webaddons > div.section > *
{
  margin-right: 1ex;
  }

#webaddons > .section > .h
{
  text-align: right;
  font-size: 1.1em;
  color: white;
  height: 48px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: -.5em;
  margin-right: 0;
  }

#webaddons > .section > .h span
{
  display: block;
  padding: 10px 1em 0 0;
  }

#webaddons .section li a
{
  display: block;
  padding: 0;
  /* pour éviter la barre de défilement lorsque le lien est cliqué */
  margin-right: 2px;
  }

#webaddons .section ul
{
  padding-left: 1em;
  }

#webaddons .section li
{
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: left center;
  padding: .5ex 0 .5ex 2.5em;
  }

/* BRANCHE */
#branche
{
  font-size: 9pt !important;
  }

/* branche a un traitement *très* spéciale, on réinitialise tout */
#branche *
{
  position: static !important;
  top: 0 !important;
  margin: 0 !important;
  display: inline !important;
  padding: 0 !important;
  background: none !important;
  }

#branche .h
{
  text-align: left;
  font-size: inherit;
  color: #483005 !important;
  }

#branche li + li:before
{
  content: "/";
  margin: 0 1ex;
  color: #483005;
  }


/* FLOTS */
#menu .h
{
  background-image: url("img/flot-rouge.png");
  }

#connexes .h
{
  background-image: url("img/flot-vert.png");
  }

#console > .h,
#login > .h
{
  background-image: url("img/flot-jaune.png");
  }

#navigateurs .h
{
  background-image: url("img/flot-orange.png");
  }

#citation .h
{
  background-image: url("img/flot-bleu.png");
  }

#formats .h
{
  background-image: url("img/flot-gris.png");
  }

#menu li.current a
{
  color: black;
  text-decoration: none;
  font-weight: bold;
  }



#footer
{
  color: #AB7C2B;
  padding-bottom: 1em;
  background-image: url("img/sifflet.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  }

/* CONSOLE */
#console > .h
{
  margin-bottom: 0;
  }

#console div.section
{
  margin: 0 0 0 1em;
  padding: 0;
  }

#console .section .h
{
  font-size: 1.05em;
  margin: 0;
  padding: 0;
  }

#console li a
{
  }

/* ICÔNES */

#menu li.index
{
  background-image: url("icones/accueil.png");
  }

#webaddons li.unites,
#webaddons li.membres
{
  background-image: url("icones/effectifs.png");
  }

#connexes li.contacts
{
  background-image: url("icones/carnet.png");
  }

#connexes li.progression
{
  background-image: url("icones/individus.png");
  }

#webaddons li.activites,
#formats li.ics
{
  background-image: url("icones/activites.png");
  }

#formats li.ods,
#formats li.csv
{
  background-image: url("icones/tableur.png");
  }

#webaddons li.photos
{
  background-image: url("icones/photos.png");
  }

#webaddons li.journaux
{
  background-image: url("icones/journaux.png");
  }

#menu li.documents
{
  background-image: url("icones/documents.png");
  }

#menu li.liens
{
  background-image: url("icones/liens.png");
  }

#connexes li.rapports,
#menu li.livredor
{
  background-image: url("icones/livredor.png");
  }

#login li.inscription,
#actions li.inscrire,
#console li.inscriptions
{
  background-image: url("icones/inscription.png");
  }

#console li.voir,
#actions li.voir
{
  background-image: url("icones/individu.png");
  }

#actions li.fermer
{
  background-image: url("icones/fermer.png");
  }

#webaddons li.progression
{
  background-image: url("icones/progression.png");
  }

#webaddons li.formation
{
  background-image: url("icones/diplome.png");
  }

#console li.profil
{
  background-image: url("icones/editer.png");
  }

#login li + li
{
  background-image: url("icones/verrou.png");
  }

/* ACTIONS */
#actions li.editer,
#actions li.modifier,
#actions li.reporter
{
  background-image: url("icones/editer.png");
  }

#actions li.configurer,
#actions li.administrer
{
  background-image: url("icones/config.png");
  }

#actions li.annuler,
#actions li.supprimer,
#actions li.detruire,
#actions li.desinscrire
{
  background-image: url("icones/supprimer.png");
  }

#connexes li.anciens,
#connexes li.anciennes,
#actions li.historique
{
  background-image: url("icones/historique.png");
  }

#menu li.statiques
{
  background-image: url("icones/contacts.png");
  }

#webaddons li.citation
{
  background-image: url("icones/citation.png");
  }

#webaddons li.prevoir
{
  background-image: url("icones/prevoir.png");
  }


/* FORMATS */
#formats li.rss,
#formats li.atom
{
  background-image: url("icones/flux.png");
  }

#formats li.vcf
{
  background-image: url("icones/carnet.png");
  }



/* Glisser-déposer */
.dojoDndItem
{
  cursor: pointer;
  }

.dojoDndItemBefore,
.dojoDndItemBefore td
{
  border-top: 2px solid red;
  }

.dojoDndItemAfter,
.dojoDndItemAfter td
{
  border-bottom: 2px solid red;
  }

.dojoDndAvatar
{
  moz-opacity: .75;
  }

/* citation */

#citation .signature
{
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  }


#historique .h
{
  font-size: 1.75ex;
  }

#historique div.section
{
  float: left;
  }

#historique .selectionnee a
{
  font-weight: bold;
  text-decoration: none;
  color: black;
  }
