body, #document
{
    padding: 0;
    margin: 0;
}

#document, #content, #webaddons,
h1, h1 span
{
    background: none;
}

#content, #webaddons
{
    padding-top: 2em !important;
}


#webaddons .h
{
    color: white;
    text-align: right;
    padding: .5ex;
}

#console div.section .h
{
    background: none !important;
    color: black !important;
    padding: .5ex;
}

#webaddons div.section ul li.list.item
{
    list-style: square !important;
    list-style-image: none !important;
}

#webaddons li a
{
    position: static;
    display: inline !important;
    top: 0 !important;
}
h1
{
    padding: 3em 0 !important;
    margin: 0;
}

h1 span
{
    position: static !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    border: 2px solid #282329;
    background: #4a5159 !important;
    color: #fcdd28 !important;
    padding: .5ex !important;
}

#menu .h
{
    background: #D40000 !important;
}

#navigateurs .h
{
    background: #F48420 !important;
}

#connexes .h
{
    background: #208e10 !important;
}

#console .h,
#login .h
{
    background: #cedb00 !important;
}


body
{
  background-image: url("img/tissu-beige-IE.png");
  }


#footer
{
  background-image: url("img/sifflet-IE.png");
}
