#document #content .effectifs table *
{
  font-size: 5pt;
  }

#document #content td
{
  width: auto;
  vertical-align: middle;
  }

td + td
{
  border: 1px dotted grey;
  }

#content .effectifs .totem,
#content .effectifs .adelec,
#content .effectifs .age
{
  display: none;
  }

#content .effectifs th.accr
{
  color: white;
  border-bottom: 2px solid white;;
  }


#document #content td.naissance
{
  width: 6em;
  }
