/*-*- css -*-*/

@import "lib";

.documents form
{
    @include minipage;
}

#document .section.documents {
    width: 80%;
    max-width: 80em;
    margin: 1em auto;
}

.section.document {
    @include smallcontent;
}

.supprimer #vignette {
    text-align: center;
    margin: 1em auto;
}
