/*-*- css -*-*/

@import "lib";

#document.documents form
{
    @include minipage;
}

.section.document {
    @include smallcontent;

    .telechargement a {
	@include adminlink;
	font-weight: bold;
	font-size: 110%;
	margin: 1ex 0;
	line-height: 2em;
	padding-left: 3em;
	background: $info_bg url("icones/sign-up.png") .5em center no-repeat;
	background-size: auto 2em;
    }

    #description {
	font-size: 110%;
	margin: 1em;
    }
}

.supprimer #vignette {
    text-align: center;
    margin: 1em auto;
}
