
/* masquer les en-tête redondant des sous unités */
#effectifs div.section + div.section thead
{
  display: none;
  }

.effectifs table
{
  width: 100%;
  }

.effectifs .section table
{
  margin-left: -1em;
  }

#accueil #effectifs td + td
{
  width: auto;
  }

/* COLONNES */
td.accr
{
  width: 4em;
  padding-left: 24px;
  text-align: right;
  }

.contacts	td.prenom-nom,
.infos		td.prenom-nom,
.progression	td.prenom-nom
{
  width: 20em;
  }

.maitrise td.prenom-nom
{
  width: 10em;
  }

td.fixe,
td.portable,
td.telephone
{
  width: 8em;
  text-align: center;
  }

.effectifs tr .naissance,
tr .age,
tr .origine
{
  display: none;
  }

td.numero
{
  width: 4em;
  text-align: center;
  }