tr .adelec,
.contacts tr .adresse
{
  display: none;
  }

#document #content .effectifs h2
{
  font-size: 1.05em;
  text-align: left;
  margin: 1ex 0 .5ex;
  }

#document td.prenom-nom
{
  width: 20em;
  }

th.prenom-nom,
th.adelec,
th.adresse
{
  text-align: left;
  }


table tr .accr
{
  width: 3em;
  padding: 0;
  }

#effectifs th.accr
{
  visibility: hidden;
  border: none;
  }

#effectifs #maitrise .h
{
  display: none;
  }

.maitrise	table,
.participants	table
{
  width: 100%;
  }

td.adresse
{
  width: 20em;
  }

td.naissance,
.maitrise td.cep1,
.maitrise td.cep2
{
  width: 10ex;
  }

.maitrise table .formation + *
{
  width: 10%;
  }
