/*-*- css -*-*/

@import "lib";

input[type=text],
input[type=password],
textarea
{
    border: 1pt solid $highlight_color;
    padding: 1pt;
}

input[type=text]:focus,
input[type=passwrd]:focus,
textarea:focus
{
    color: black;
    background: lighten($alt_background, 25%);
}

fieldset {
    margin-top: 1em;
    border: 1pt solid $highlight_color;
    border-radius: 1ex;
    position: relative;
    padding-top: 2.5em;

    legend {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: .5ex 1em .5ex 3em;

	@include headfont;
	font-size: 120%;
	color: $content_background;
	background-color: $highlight_color;
	border-radius: 0 0 0 2em;
	background: $highlight_color;
	color: $content_background;
    }
}

div.control {
    text-align: left;
    clear: both;
    padding: .5ex;
    width: 100%;

    & > label, & > .input, &.compound div.control {
	display: inline-block;
	vertical-align: top;
	margin: 0;
    }

    & > label {
	width: 12em;
	padding: .5ex 0;
	margin-bottom: 1ex;
	white-space: nowrap;

	&:after
	{
	    content: " :";
	}
    }

    input.spin {
	text-align: right;
    }

    &.date input
    {
	margin: 1pt;
	font-family: monospace;
	text-align: center;
    }

    &.check {
	position: relative;

	.input {
	    position: absolute;
	    /* marges intérieure de div.control et de l'étiquette */
	    top: 1ex;
	    left: 0;
	}

	& > label {
	    text-align: left;
	    position: relative;
	    left: 1.5em;
	}
    }

    &.invalid {
	background-color: $error_bg;
    	border-radius: .75ex;

	label {
	    color: $error;
	}

	input[type=text],
	input[type=password],
	textarea
	{
	    border-color: $error;
	}

	div.error {
	    margin: 1ex 1em;
	    color: $error;
	    font-weight: bold;
	    font-size: 110%;
	}
    }
}

table.control {
    margin: 1ex auto;

    td {
	padding: .25ex;
    }

    div.control.check > .input {
	position: static;
    }
}

.nocaption .input,
.nocaption textarea
{
    width: 100%;
}

tr td .check input,
tr td .check label
{
    top: auto !important;
    float: none;
    position: static;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: inherit;
}

div.required > label:before {
    font-family: mono;
    content: "*";
    color: red;
    margin-left: -1ex;
}

.buttonbox {
    clear: both;
    text-align: center;
    padding: 2em 0 .5ex;
    margin: 0;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .critical {
	color: $critical;
	font-weight: bold;
    }
}

/* FORMULAIRE LATÉRAUX */
#aside div.control {
    label {
	width: 8em;
	overflow: hidden;
    }

    .input {
	margin: 0;
    }

    input {
	max-width: 6em;
    }
}
