
input[type=text],
input[type=password],
textarea
{
  border: none;
  border-bottom: 1px dotted black;
  }

input[type=checkbox],
input[type=radio]
{
  display: none !important;
  }


.select span label
{
  background-image: url("img/radio.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0 1ex 0 16px;
  }

.select.multiple span label
{
  background-image: url("img/checkbox.png");
  }

button,
input[type=button]
{
  display: none;
  }
