/*** Disposition:
   *
   *  __________ __________ ______
   * |  Accueil |          |      |
   * }----------+          |      |
   * |          |  Photos  | Menu |
   * | Rapports |          |      |
   * |__________|__________|______|
   */

#accueil
{
  float: left;
  clear: left;
  width: 30%;
  margin: 0 2em 0 0;
  padding: 0;
  }

.suite
{
  text-align: right;
  }

.vignette
{
  float: none;
  display: inline-block;
  }

#unites ul
{
  display: block;
  padding: 0;
  margin: 0;
  }

#unites li
{
  display: inline-block;
  }

#unites li > a
{
  display: inline-block;
  margin: 0 1em;
  text-align: center;
  }
