/*-*- css -*-*/

@import "common";

#informations p.avatar
{
  float: right;
  margin-top: -3em;
  padding: 1ex;
  border: 1px solid black;
  background: white;
  border-radius: 1ex;
  max-width: 15%;
  }

#informations ul,
#informations #notes
{
  display: inline-block;
  vertical-align: top;
  }

#informations ul
{
    /* Adapté à la ligne Dernière connexion */
    width: 25em;
}

#informations #notes
{
  width: 45%;
  }

#commentaires,
#articles
{
  width: 48%;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: vertical;
  }

.individus.editer form {
    @include minipage;
    #control-editer-notes textarea {
	width: 100%;
    }
}