/*-*- css -*-*/

@import "lib";

#cartevisite
{
    width: 80%;
    max-width: 55em;
    margin: 1em auto 4em;
    padding: 1ex;
    background: lighten($alt_background, 10%);
    border-radius: 1ex;

    & > .h {
	font-size: 200%;
	text-align: right;
	margin-right: 1em;
    }

    a.avatar, ul.infos, #notes
    {
	display: inline-block;
	padding: 1ex;
	margin: 1ex;
	vertical-align: top;
    }

    a.avatar {
	margin-top: -4em;

	p.label {
	    display: none;
	}
    }

    ul.infos
    {
	max-width: 50%;
	font-size: 130%;

	li {
	    list-style: none;
	    margin: .5ex;
	}

	li.adresse {
	    white-space: pre-wrap;
	}
    }

    #notes {
	width: 100%;

	.h { display: none; }
    }
}

#details, #cv, #commentaires, #articles {
    clear: both;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1ex;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

#details {
    width: 30%;

    ul {
	/* Adapté à la ligne Dernière connexion */
	min-width: 15em;
	padding-left: 2em;
    }

    #notes {
	margin: 1ex;
	font-style: italic;
    }
}

#cv {
    min-width: 69%;

    table {
	width: 100%;

	thead { display: none; }
	td.unite {
	    white-space: nowrap;
	    width: 80%;
	}
    }
}

/* si pas de détails */
#cartevisite + #cv {
    display: block;
    margin: 0 auto;
}

.individus form {
    @include minipage;

    #control-editer-notes textarea {
	width: 100%;
    }
}

.individus.admin form {
    width: auto;

    table {
	width: auto;
	margin: 0 auto;

	td {
	    white-space: nowrap;

	    .control.date input {
		font-size: 80%;
	    }
	}
    }
}

.individus.reinscrire {
    .vignettes {
	white-space: nowrap;
	text-align: center;

	li {
	    vertical-align: middle;

	    &.liaison {
		font-size: 200%;
		font-style: italic;
		font-family: serif;
		margin: 1em;
	    }
	}
    }
}

.individus.desinscrire #inscription {
    width: 100%;
    text-align: center;

    .vignette {
	display: inline-block;
    }

    table {
	@include minipage;
	margin: 0 auto;

	thead { display: none; }
    }
}