.avatar
{
  margin: 0;
  padding: 0;
  text-align: center;
  }

.voir #content li
{
  clear: both;
  }

.voir #content li strong
{
  display: inline-block;
  width: 14em;
  }

.voir .section .h
{
  margin-top: 0;
  padding-top: 0;
  }

.voir #informations
{
  text-align: left;
  }

.voir #informations .avatar,
.voir #informations .avatar + .list,
.voir #informations #notes
{
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  }

.voir #informations #notes
{
  background-image: url("img/transparent-noir.png");
  padding: 1ex;
  max-width: 30%;
  }

.voir #progression,
.voir #informations + #formation
{
  clear: left;
  }

.voir #progression,
.voir #progression + #formation
{
  float: left;
  width: 45%;
  margin: 0;
  padding: 0;
  }

.voir .h
{
  clear: both;
  }

#document.voir #commentaires,
#document.voir #articles
{
  width: 48%;
  margin: 0 .5%;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  }
