/*-*- css -*-*/

@import "lib";

#informations p.avatar
{
  float: right;
  margin-top: -3em;
  padding: 1ex;
  border: 1px solid black;
  background: white;
  border-radius: 1ex;
  }

#informations ul,
#informations #notes
{
  display: inline-block;
  vertical-align: top;
  }

#informations ul
{
    /* Adapté à la ligne Dernière connexion */
    width: 25em;
}

#informations #notes
{
  width: 45%;
  }

#commentaires,
#articles
{
  width: 48%;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: vertical;
  }

.individus form {
    @include minipage;

    #control-editer-notes textarea {
	width: 100%;
    }
}

.individus.admin form {
    width: auto;

    table {
	width: auto;
	margin: 0 auto;

	td {
	    white-space: nowrap;

	    .control.date input {
		font-size: 80%;
	    }
	}
    }
}
