/*-*- css -*-*/

#wait {
    /* masqué par défaut, à activer en JS */
    display: none;

    img { /* animation de patience */
	display: block;
	margin: 1em auto;
    }

    p {
	text-align: center;
    }
}
