/*-*- css -*-*/

@import "common";

#document form,
#document > .section,
#document > .signature
{
    @include minipage;
}

#article .signature
{
    clear: both;
}

.article
{
    font-size: 110%;
}

.boulet {
    font-weight: bold;
}

form .check
{
    text-align: center;
}

#actions li.ecrire
{
    list-style-image: url("icones/ecrire.png");
}

#document.ecrire .entry.input textarea,
#document.ecrire textarea
{
    width: 100%;
}

@media print {
    .journaux.consulter h2,
    .journaux.consulter h2 + p
    {
	display: none;
    }
}
