/*-*- css -*-*/

@import "lib";

#document form,
#document > .section,
#document > .signature
{
    @include minipage;
}

.boulet {
    font-weight: bold;
    font-size: 120%;
}

#document {

    .index .article
    {
	width: 50%;
	position: relative;
	font-size: 110%;
    }

    .article p img {
	display: block;
	max-width: 80%;
	height: auto;
	margin: 0 auto;
    }
}

#document .avatar {
    position: relative;
    float: right;
    margin-top: -4em;
    z-index: 10000;
}

#document.index .article
{
    clear: both;

    .avatar {
	margin-right: -12em;
    }

    .h {
	font-size: 140%;
	margin-left: -1em;
    }

    & + .article {
	border-top: 1pt dashed $highlight_color;
    }

    .suite, .signature { display: none;  }
}

form .check
{
    text-align: center;
}

#actions li.ecrire
{
    list-style-image: url("icones/ecrire.png");
}

#document.ecrire .entry.input textarea,
#document.ecrire textarea
{
    box-sizing: border-box;
    width: 100%;
}

@media print {
    .journaux.consulter h2,
    .journaux.consulter h2 + p
    {
	display: none;
    }
}
