/*-*- css -*-*/

@import "lib";

#document form,
#document > .section,
#document > .signature
{
    @include minipage;
}

.boulet {
    font-weight: bold;
}

.article
{
    position: relative;
    font-size: 110%;

    img {
	max-width: 100%;
	height: auto;
    }

    .signature
    {
	clear: both;
    }
}

form .check
{
    text-align: center;
}

#actions li.ecrire
{
    list-style-image: url("icones/ecrire.png");
}

#document.ecrire .entry.input textarea,
#document.ecrire textarea
{
    box-sizing: border-box;
    width: 100%;
}

@media print {
    .journaux.consulter h2,
    .journaux.consulter h2 + p
    {
	display: none;
    }
}
