#content, #webaddons
{
    margin: 0 !important;
    padding: 0 !important;
}

#content
{
    width: 80% !important;
    float: left !important;
}

#webaddons
{
    width: 20% !important;
    float: right !important;
    margin-top: 4em;
}

#branche
{
    top: 7em;
    width: 400% !important;
}
