// -*- css -*-

@import 'lib';

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 9pt;
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    height: $taille_logo;
    position: relative;
    overflow: hidden;
    margin: 2em auto 1em;

    & > .h {
	display: block;
	font-size: $taille_logo / 3;
	line-height: $taille_logo;
	margin: 0;
    }

    #branche {
	position: absolute;
	bottom: 0;
    }
}

#contentwrapper {
    margin: 0 auto;

    div.dialog {
	position: relative;
	width: 30em;
	padding: 1em;
	margin: 3em auto;
    }
}

#document {
    overflow: auto;
    border-width: 1pt;

    #flash {
	margin: 1em auto 2em;
    }
}

@media screen {
    html {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;
    }

    body {
	margin: 0 auto $taille_piedpage + 6em;
	padding: 0;
	width: 96%;
	min-height: 100%;
	min-width: 42em + $taille_menu;
	max-width: 106em + $taille_menu;
	overflow-x: hidden;
	overflow-y: auto;

	& > div	{
	    margin: 1ex auto;
	}
    }

    #header .h {
	text-align: center;
	padding: 0 $taille_logo * 2;
    }

    #contentwrapper {
	float: right;
	width: 100%;
    }

    #document {
	padding: .9em;
	padding-top: 5em;
	margin-right: $taille_menu;
    }

    .suf, .fse, .europa {
	#document {
	    min-height: 40em;
	}
    }

    #aside {
	float: right;
	width: $taille_menu;
	margin: 0;
	margin-right: -100%;
    }

    #footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $taille_piedpage;
	overflow: hidden;

	#wrapper {
	    margin: 0 auto;
	    width: 96%;
	    min-width: 50em;
	    max-width: 80em;

	    div.section {
		display: inline-block;
		padding: 1ex 2em;
		margin: 0;
		vertical-align: top;
		width: 30%;
		max-width: 15em;
	    }

	    #citation {
		width: 35%;
		max-width: none;
	    }

	    #menu {
		width: 20%;
		max-width: 15em;
	    }

	    #about {
		width: 40%;
		max-width: 40em;
	    }

	    .date, .author {
		display: none;
	    }
	}
    }
}

@media print {
    body {
	margin: .5ex;
	padding: .5ex;
    }

    #contentwrapper {
	position: relative;
	top: 2em;
	width: auto;
	margin: 0 auto;
	padding: 0;

	#document > h1 {
	    font-size: 250%;
	    margin-bottom: 10pt;
	}
    }

    #footer #about .author {
	display: block;
	position: absolute;
	top: 20pt;
	left: .5ex;
	margin: 0;
	padding: 0;
    }

    #header,
    #footer #citation,
    #footer #menu,
    #footer #about .h,
    #footer #about li,
    #branche,
    #aside,
    #historique
    {
	display: none;
    }
}