#livredor li
{
  background: url("img/transparent-blanc.png");
  border: 1px dotted #E1C571;
  color: #F1D591;
  list-style: none;
  margin: 1ex;
  padding: 0;
  width: 100%;
  float: left;
  -webkit-transition-duration: 1s;
  }

#livredor li p
{
  margin: 0.5ex;
  -webkit-transition-duration: 1s;
  }


#livredor li p.validation
{
  background: url("img/transparent-noir.png");
  text-align: right;
  border: 1px dotted white;
  margin: .5ex;
  padding: .5ex;
  display: none;
  float: right;
  }

#livredor li:hover p.validation
{
  display: block;
  }
