#valider .form .select
{
  display: block;
  width: 100%;
  }

#valider-verdict
{
  display: block;
  width: 100%;
  text-align: center;
  }

#valider-verdict *
{
  display: inline;
  }

#progression
{
  display: none;
  }