/*-*- css -*-*/

#valider .form .select
{
    display: block;
    width: 100%;
}

#valider-verdict
{
    display: block;
    width: 100%;
    text-align: center;
}

#valider-verdict *
{
    display: inline;
}

#progression
{
    display: none;
}

@media screen {

    #cotisation,
    #envoi
    {
	display: none;
    }

    #document.parametres #parametres {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& > .section {
	    width: 50%;
	    margin: 0;
	    padding: 0;
	}
    }
}

@media print {
    .warn, .info
    {
	display: none;
    }
}