/*-*- css -*-*/

@import "common";

#valider .form .select
{
    display: block;
    width: 100%;
}

#valider-verdict
{
    display: block;
    width: 100%;
    text-align: center;
}

#valider-verdict *
{
    display: inline;
}

@media screen {

    #document form,
    #document.inscriptions table
    {
	@include minipage;
    }

    .valider form {
	.h {
	    clear: both;
	}

	#presentation {
	    @include message;
	    clear: both;
	}

	.control[id*=message] {
	    .input, textarea {
		box-sizing: border-box;
		width: 100%;
	    }
	}
    }

    #document.parametres #parametres {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& > .section {
	    width: 48%;
	    margin: 0 1%;
	    padding: 0;
	}
    }
}

@media print {
    .warn, .info
    {
	display: none;
    }
}