/*-*- css -*-*/

#contentwrapper {
    float: none;
    width: 45em;
    margin: 5em auto;
    border-width: 1pt;

    #document {
	padding: 5em 3em 3em;
	margin: auto;
	min-height: 0;
    }

    h1 {
	margin: 0;
    }
}
