/*-*- css -*-*/

#header,
#contentwrapper {
    float: none;
    width: 80%;
    max-width: 60em;
    margin: 5em auto;
}

#contentwrapper
{
    border-width: 1pt;
}


#document {
    padding: 5em 3em 3em;
    margin: auto;
    min-height: 0;

    h1 {
	margin: 0;
    }
}

#footer {
    display: none;
}
