#document.photos.voir img
{
  width: 100%;
  height: auto;
  padding: 0;
  z-index: 0;
  }

#document.photos.voir p.photo
{
  text-align: center;
  }

#document.photos.voirs ul
{
  margin: 1em;
  padding: 0;
  }

#albums .vignette p,
#document.photos.voirs .vignette p
{
  height: 3em;
  }

#vignette
{
  float: none;
  text-align: center;
  }

#document.supprimer form
{
    width: 50%;
    margin: 1em auto;
}