#document.rapport #content .vignette
{
  margin-top: -4em;
  float: right;
  }

.rapport #content .boulet
{
  float: left;
  padding-right: 30em;
  font-size: 1.1em;
  margin-bottom: 2em;
  }

.rapport .boulet p
{
  margin: 1ex 2em;
  }

#content .rapport
{
  margin: 1em;
  }
