td.prenom-nom a
{
  padding-left: 34px;
  }

tr.ep td.prenom-nom a
{
  background-image: url("progression/ep.png");
  background-repeat: no-repeat;
  background-position: 2px center;
  min-height: 28px;
  }

tr.rp td.prenom-nom a
{
  background-image: url("progression/rp.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 28px;
  }

tr.rs td.prenom-nom a
{
  background-image: url("progression/rs.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 28px;
  }


