/* PROGRESSION */
.prenom-nom a.rs,
.prenom-nom a.ep,
.prenom-nom a.rp,
.voir #content li.progression
{
  padding-left: 34px;
  }

.individus.voir #content li.progression
{
  background-position: 0 top;
  list-style: none;
  }

.trombi a.ep,
.voir li.ep
{
  background-image: url("progression/ep.png");
  background-repeat: no-repeat;
  background-position: 2px center;
  min-height: 28px;
  }

.trombi a.rp,
.voir li.rp
{
  background-image: url("progression/rp.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 28px;
  }

.trombi a.rs,
.voir li.rs
{
  background-image: url("progression/rs.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 28px;
  }
