table
{
  border-spacing: 0;
  }

thead th
{
    border-bottom: 2px solid #845d18;
}
th
{
  text-align: center;
  }

td
{
  vertical-align: top;
  padding: .5ex .75ex;
  }

tr.odd
{
  background: #d6d2c1;
  }
