/*-*- css -*-*/

@import "lib";

table {
    border-collapse: separate;
    border-spacing: 0 1pt;
}

thead th {
    border-bottom: 2px solid #845d18;
    text-align: center;
}

td {
    padding: .5ex .75ex;
}

td span.treecellpad {
    display: inline-block;
    width: 1em;
}

td span.treecellnode {
    display: inline-block;
    width: 1em;
    font-size: 80%;
    vertical-align: middle;
}

tr.odd {
    background: lighten($alt_background, 15%);
}

@media print {
    td {
	padding: .25ex .75ex;
    }

    tr.odd {
	background-color: #F0F0F0;
    }
}