/* TROMBI */

#trombi li p
{
  width: 128px;
  text-align: center;
  padding: 0;
  margin: 0;
  }

#trombi li.individu
{
  list-style: none;
  margin: .5ex;
  color: black;
  }

#trombi li.individu > ul li:first-child
{
  font-weight: bold;
  }

#trombi li.individu
{
  display: block;
  clear: both;
  float: left;
  margin: 1ex;
  color: black !important;
  }

#trombi li.individu > *
{
  float: left;
  }

