#content #effectifs div.section
{
    padding: 0 !important;
    margin: 0 !important;
}

div.section > table
{
    margin: 0 !important;
}

#effectifs > div.section
{
    margin-right: 0;
    padding-right: 0;
}

#effectifs .section .h
{
    margin-left: 2em;
}


#effectifs table
{
    width: 100%;
}

#effectifs table td a
{
    text-decoration: none;
    color: black;
}

#effectifs tr.odd
{
    background: none !important;
}

#effectifs tr.odd td + td
{
    background: #F0F0F0;
}

#effectifs td.accr
{
    color: grey;
}

#effectifs td.prenom-nom,
#effectifs td.nom-abbr
{
    width: 30%;
    padding: 2pt 5pt;
}

/* masquer le nom-prénom des cheftaines de meutes. */
#maitrise table.meute td.prenom-nom a
{
    position: absolute;
    display: block;
    top: -512px;
    left: -1024px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.liste #effectifs table td +td +td
{
  border-left: 1px dashed #845d18;
  width: 10%;
  }