#effectifs > table.meute td.accr
{
    width: auto;
}


/* barrettes */
td.accr
{
    background-position: left center;
    background-repeat: no-repeat;
  }
  
table.groupe tr.chef td.accr
{
    background-image: url("postes/cg.png");
}

table.groupe tr.aumonier td.accr
{
    background-image: url("postes/aumonier.png");
}
  
table.groupe tr.assistant td.accr,
table.groupe tr.tresorier td.accr,
table.groupe tr.secretaire td.accr
{
    background-image: url("postes/acg.png");
}
  
table.clan tr.chef td.accr
{
    background-image: url("postes/cc.png");
}
   
table.troupe tr.chef td.accr,
table.compagnie tr.chef td.accr
{
    background-image: url("postes/ct.png");
}
  
table.troupe tr.assistant td.accr,
table.compagnie tr.assistant td.accr
{
    background-image: url("postes/act.png");
}
  
  
table.patrouille tr.chef td.accr,
table.equipe tr.chef td.accr
{
    background-image: url("postes/cp.png");
}
  
table.patrouille tr.assistant td.accr,
table.equipe tr.assistant td.accr
{
    background-image: url("postes/sp.png");
}

  
table.meute tr.chef td.accr,
table.ronde tr.chef td.accr,
{
    background-image: url("postes/akela.png");
}

table.meute tr.bagheera td.accr,
table.meute tr.baloo td.accr,
table.meute tr.raksha td.accr,
table.meute tr.chil td.accr,
table.meute tr.kaa td.accr,
table.meute tr.hathi td.accr,
table.meute tr.wontolla td.accr,
table.meute tr.rama td.accr,
table.meute tr.rikkitikitavi td.accr,
table.meute tr.chuchundra td.accr,
table.meute tr.gris td.accr,
table.meute tr.sahi td.accr,
table.meute tr.fauvette td.accr
{
    background-image: url("postes/bagheera.png");
}


.effectifs tr.siz td.accr
{
  background-image: url("postes/siz.png");
  }

.effectifs tr.sec td.accr
{
  background-image: url("postes/sec.png");
  }
  
