/*-*- css -*-*/

@import "common";

/* ACCUEIL */
#presentation
{
    float: left;
    clear: both;
    box-sizing: border-box;
    width: 30em;
    min-height: 290px;
    margin: 0 2em 2em 0;
    padding: 0 1ex;
    font-size: 120%;
    text-align: left;
    background: lighten($alt_background, 10%);
    border-radius: 1ex;

    .image
    {
	float: left;
	margin: 1em;

	&.empty {
	    width: 200px;
	}
    }
}

#document.unites.index
{
    #presentation + .bloc .vignettes {
	display: block;
	min-height: 100%;

	li {
	    float: left;
	}
    }

    #presentation + .bloc + .bloc .h {
	clear: both;
    }
}

.contacts.parente tbody:nth-of-type(1) tr.category {
    display: none;
}

.contacts tr.category td a {
    color: $highlight_color;
    font-weight: bold;
    font-size: 125%;
    text-decoration: none;
    padding-top: 1em;
}

#historique
{
    clear: both;
}

/* COLONNES */
td.accr
{
    width: 4em;
    padding-left: 24px;
    text-align: right;
}

.contacts	td.prenom-nom,
.infos		td.prenom-nom
{
    width: 20em;
}

.maitrise td.prenom-nom
{
    width: 10em;
}

td.fixe,
td.portable,
td.telephone
{
    width: 8em;
    text-align: center;
}

.effectifs tr .naissance,
tr .age
{
    display: none;
}

td.numero
{
    width: 4em;
    text-align: center;
}

@media screen {
    #document.fonder form,
    #document.editer form,
    #document.parametres form,
    #document.supprimer form,
    #document.inscrire form,
    #document.fermer form
    {
	@include minipage;
    }

    #document.contacts table {
	width: 100%;
    }

    #effectifs > table.meute td.accr
    {
	width: auto;
    }


    /* barrettes */
    td.accr
    {
	background-position: left center;
	background-repeat: no-repeat;
    }

    tr.aumonier td.accr
    {
	background-image: url("postes/aumonier.png");
    }

    tbody.groupe tr.chef td.accr
    {
	background-image: url("postes/cg.png");
    }

    tbody.groupe tr.assistant td.accr
    {
	background-image: url("postes/acg.png");
    }

    tbody.clan tr.chef td.accr
    {
	background-image: url("postes/cc.png");
    }

    tbody.troupe tr.chef td.accr,
    tbody.compagnie tr.chef td.accr
    {
	background-image: url("postes/ct.png");
    }

    tbody.troupe tr.assistant td.accr,
    tbody.compagnie tr.assistant td.accr
    {
	background-image: url("postes/act.png");
    }

    tbody.patrouille tr.chef td.accr,
    tbody.equipe tr.chef td.accr
    {
	background-image: url("postes/cp.png");
    }

    tbody.patrouille > tr.assistant td.accr,
    tbody.equipe > tr.assistant td.accr
    {
	background-image: url("postes/sp.png");
    }

    tbody.meute tr.chef td.accr,
    tbody.ronde tr.chef td.accr
    {
	background-image: url("postes/akela.png");
    }

    tbody.meute tr.assistant td.accr,
    tbody.ronde tr.assistant td.accr
    {
	background-image: url("postes/bagheera.png");
    }

    tbody.sizloup tr.siz td.accr
    {
	background-image: url("postes/siz.png");
    }

    tbody.sizloup tr.sec td.accr
    {
	background-image: url("postes/sec.png");
    }
}

@media print {
    #content #effectifs div.section
    {
	padding: 0 !important;
	margin: 0 !important;
    }

    div.section > table
    {
	margin: 0 !important;
    }

    #effectifs > div.section
    {
	margin-right: 0;
	padding-right: 0;
    }

    #effectifs .section .h
    {
	margin-left: 2em;
    }


    #effectifs table
    {
	width: 100%;
    }

    #effectifs table td a
    {
	text-decoration: none;
	color: black;
    }

    #effectifs tr.odd
    {
	background: none !important;
    }

    #effectifs tr.odd td + td
    {
	background: #F0F0F0;
    }

    #effectifs td.accr
    {
	color: grey;
    }

    #effectifs td.prenom-nom,
    #effectifs td.nom-abbr
    {
	width: 30%;
	padding: 2pt 5pt;
    }

    /* masquer le nom-prénom des cheftaines de meutes. */
    #maitrise table.meute td.prenom-nom a
    {
	position: absolute;
	display: block;
	top: -512px;
	left: -1024px;
	width: 1px;
	height: 1px;
	overflow: hidden;
    }

    .liste #effectifs table td +td +td
    {
	border-left: 1px dashed #845d18;
	width: 10%;
    }tr .adelec,
    .contacts tr .adresse
    {
	display: none;
    }

    #document #content .effectifs h2
    {
	font-size: 1.05em;
	text-align: left;
	margin: 1ex 0 .5ex;
    }

    #document td.prenom-nom
    {
	width: 20em;
    }

    th.prenom-nom,
    th.adelec,
    th.adresse
    {
	text-align: left;
    }


    table tr .accr
    {
	width: 3em;
	padding: 0;
    }

    #effectifs th.accr
    {
	visibility: hidden;
	border: none;
    }

    #effectifs #maitrise .h
    {
	display: none;
    }

    .maitrise	table,
    .participants	table
    {
	width: 100%;
    }

    td.adresse
    {
	width: 20em;
    }

    td.naissance,
    .maitrise td.cep1,
    .maitrise td.cep2
    {
	width: 10ex;
    }

    .maitrise table .formation + *
    {
	width: 10%;
    }
}