/*-*- css -*-*/

@import "lib";

/* ACCUEIL */
#presentation {
    @include smallcontent;
    width: 100%;
    max-width: 40em;
    min-height: $taille_vignette;
    margin: 0 auto;
    padding: 2em;
    font-size: 130%;
    text-align: left;

    .image {
	float: left;
	margin: 0 1em 1em 0;
    }
}

.effectifs tr.category td a {
    @include headfont;
    color: $highlight_color;
    font-size: 125%;
    text-decoration: none;
    padding-top: 1em;
}

#document.fonder form,
#document.editer form,
#document.parametres form,
#document.supprimer form,
#document.inscrire form,
#document.fermer form
{
    @include minipage;
}

#document.archives
{
    background-image: url("illustrations/ancien-moderne.png");
    background-position: 95% bottom;
    background-size: 15em auto;
    background-repeat: no-repeat;
    padding-bottom: 20em;
}

#document.effectifs
{
    background-image: url("illustrations/panorama-rassemblement.png");
    background-position: bottom;
    background-size: auto 10em;
    background-repeat: no-repeat;
    padding-bottom: 12em;
}

/* EFFECTIFS */
#document.effectifs table.effectifs {
    width: 30em;
    margin: 0 auto;
    max-width: 100%;

    /* simple listing, façon 27eparis.net */
    &.sansfiche {
	width: 98%;

	&.terminale {
	    width: 30em;

	    tbody {
		width: 100%;
	    }
	}

	display: block;
	thead { display: none; }

	tbody {
	    display: inline-block;
	    vertical-align: top;
	    padding: 1%;
	    width: 49.5%;
	    max-width: 30em;

	    td + td {
		width: 100%;
	    }
	}
    }

    &.fiches tbody:nth-of-type(1) tr.category {
	display: none;
    }
}

tr.category td {
    padding-top: 1em;
}

td.prenom-nom,
td.naissance,
td.adresse
{
    white-space: nowrap;
}

td.fixe,
td.portable,
td.telephone
{
    white-space: nowrap;
    text-align: center;
}

td.numero {
    text-align: center;
}

/* barrettes */
td.accr {
    width: 1em;
    padding-left: 28px;
    text-align: right;
    background-position: left center;
    background-repeat: no-repeat;
}

tr.aumonier td.accr {
    background-image: url("postes/aumonier.png") !important;
}

table.fse tr.aumonier td.accr,
table.europa tr.aumonier td.accr,
table.fse tr.cr td.accr,
table.europa tr.cr td.accr
{
    background-image: url("postes/aumonier-fse.png") !important;
}

tr.cg td.accr {
    background-image: url("postes/cg.png");
}

tr.acg td.accr {
    background-image: url("postes/acg.png");
}

tr.cc td.accr,
tr.cf td.accr
{
    background-image: url("postes/cc.png");
}

tr.cca td.accr,
tr.cfa td.accr
{
    background-image: url("postes/cca.png");
}

tr.acc td.accr,
tr.acf td.accr
{
    background-image: url("postes/acc.png");
}

tr.cer td.accr,
tr.cef td.accr
{
    background-image: url("postes/cer.png");
}

tr.ct td.accr,
tr.ccie td.accr
{
    background-image: url("postes/ct.png");
}

tr.act td.accr,
tr.accie td.accr
{
    background-image: url("postes/act.png");
}

tr.cp td.accr,
tr.ce td.accr
{
    background-image: url("postes/cp.png");
    background-size: 24px 90%;
}

tr.sp td.accr,
tr.se td.accr
{
    background-image: url("postes/sp.png");
    background-size: 24px 90%;
}

tr.akela td.accr,
tr.guillemette td.accr,
tr.akelaf td.accr
{
    background-image: url("postes/akela.png");
}

tr.acm td.accr,
tr.acr td.accr,
tr.accl td.accr
{
    background-image: url("postes/bagheera.png");
}

tr.sizainier td.accr,
tr.sizainiere td
{
    background-image: url("postes/siz.png");
}

tr.second td.accr,
tr.seconde td.accr
{
    background-image: url("postes/sec.png");
}

@media print {
    table.effectifs {
	width: 100%;
    }

    #document.effectifs tr .adelec {
	display: none;
    }

    table.effectifs tbody td {
	padding-top: 0;
	padding-bottom: 0;
    }

    table.effectifs td a {
	text-decoration: none;
	color: black;
    }

    table.td.accr {
	color: grey;
    }

    th.prenom-nom,
    th.adelec,
    th.adresse
    {
	text-align: left;
    }
}