/*-*- css -*-*/

@import 'lib';

/* Vignette seule, pour suppression */
#vignette {
    text-align: center;
    margin: 1em auto;

    .vignette {
	display: inline-block;
    }
}

.vignettes
{
    padding: 0;

    & > li
    {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	margin: 1ex .5ex;

	a, ul {
	    line-height: 1em;
	}
    }
}

a.vignette
{
    color: black;
    display: block;
    width: $taille_vignette;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;

    .section.wrapper
    {
	height: $taille_vignette;

	.image {
	    display: inline-block;
	    vertical-align: middle;
	}
    }

    .image
    {
	max-width: 90%;
	max-height: 90%;
	width: auto;
	height: auto;
	padding: 1ex;
	margin: 0 auto;
	border-radius: .5ex;

	&.empty {
	    width: 100%;
	    vertical-align: middle;
	    color: $disabled;
	    padding: 0;
	    line-height: .9 * $taille_vignette;
	}
    }

    &.photo .image,
    &.album .image,
    &.individu .image,
    &.document .image
    {
	border: 1pt solid $highlight_color;
	background: white;
	box-shadow: .25ex .25ex .75em rgba(40, 40, 40, .75);
    }

    p.label {
	text-align: center;
	width: 100%;
    }
}

.vignette.nolabel,
.vignettes.photos .vignette
{
    p.label {
	display: none;
    }
}
