li.vignette
{
  list-style: none;
  }

.vignette
{
  text-align: center;
  float: left;
  margin: 1ex;
  }

.vignette p
{
  margin: 0;
  font-size: .9em;
  text-align: center;
  clear: both;
  width: 100%;
  height: 2em;
  }

.vignette a
{
  color: black;
  display: block;
  text-decoration: none;
  }

.vignette img
{
  margin: 0;
  padding: 1ex;
  clear: both;
  -moz-border-radius: 1ex;
  }
