/*-*- css -*-*/

@import 'common';

$basesize: 210px;

.vignettes
{
    padding: 0;
    line-height: $basesize + 128px;

    & > li
    {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	text-align: center;
	margin: 1ex .5ex;

	a, ul {
	    line-height: 1em;
	}
    }
}

.vignettes.photos
{
     & > li
     {
	 $size: $basesize + 24px;
	 width: $size;
    }
}


.vignettes.unites,
.vignettes.albums,
.vignettes.documents
{
    $size: $basesize + 24px;

    & > li
    {
	width: $size;
	height: $size + 48px;

	.section.wrapper
	{
	    height: $size;
	    line-height: $size;

	    img {
		display: inline-block;
		vertical-align: middle;
	    }
	}
    }
}

.vignette
{
    a {
	color: black;
	display: block;
	text-decoration: none;
    }

    .image
    {
	max-width: 90%;
	max-height: 90%;
	width: auto;
	height: auto;
	padding: 1ex;

	&.empty {
	    height: 90%;
	    width: 90%;
	    vertical-align: middle;
	    color: $disabled;
	}
    }


    &.photo img,
    &.document img
    {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	clear: both;
	border-radius: .5ex;
	border: 1pt solid $highlight_color;
	background: white;
	box-shadow: .25ex .25ex .75em rgba(40, 40, 40, .75);
    }

    p.label {
	text-align: center;
	clear: both;
	width: 100%;
	height: 2em;
    }
}

.vignettes.photos .vignette p.label
{
    display: none;
}
