/*-*- css -*-*/

.vignettes
{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.vignettes > li
{
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 1ex;
  }

.vignettes > li .image
{
    height: 192px;
    line-height: 192px;
    width: auto;
    padding: 1ex;
    color: #888;
}

.vignettes li p,
.vignette p
{
  margin: 0;
  font-size: .9em;
  text-align: center;
  clear: both;
  width: 100%;
  height: 2em;
  }

.vignettes a,
.vignette a
{
  color: black;
  display: block;
  text-decoration: none;
  }

.vignette img
{
  margin: 0;
  clear: both;
  border-radius: .25ex;
  outline: 1px solid #615230;
  background: white;
  }
