/*-*- css -*-*/

@import "lib.scss";

.strass.document #body {
    background: url("illustrations/ratelier.png") 1em 2em no-repeat;
    background-size: auto 16em;
    padding-top: 6em;
}

form.site {
    background: url("illustrations/panorama-scouts-du-monde.png") bottom no-repeat;
    background-size: auto 10em;
    padding-bottom: 15em;
}

form.admin {
    background: url("illustrations/salut.png") right bottom no-repeat;
    background-size: auto 100%;
    padding: 0 10em;
}

#document #wait .h {
    background: url("illustrations/froissartage.png") bottom no-repeat;
    background-size: 20em auto;
    padding-bottom: 18em;
}
